@model Mobile_PaidThx.Models.PledgeModels.AddCauseModel
@{
    ViewBag.Title = "Select Your Cause";
    ViewBag.PageID = "pledge-add-cause";
    ViewBag.Classes = "full";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-add-back-btn="true" @TempData["DataUrl"]>
@{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Select Non Profit</h1>
    </div>
    <div data-role="content">
      
          <div class="pad">
        <ul data-role="listview" class="ui-listview" data-filter="true" data-filter-placeholder="Type Name of Non Profit">

        @foreach (var alphaGroup in Model.SortedNonProfits)
        {
            <li data-role="list-divider">@alphaGroup.Key</li>
            foreach (var nonprofit in alphaGroup.Value)
            {
            <li class="contact">
            <a class="organization-pledge" recipient-id="@nonprofit.Id" organization-name="@nonprofit.Name">
                <img class="list-thumbnail lazy" src="@Url.Content("~/Content/images/avatar.png")" data-original="@nonprofit.ImageUri" />
                    @if (nonprofit.HasInfo)
                    {
                        <img style="float:right" src="@Url.Content("~/Content/images/btn_info_active.png")" />
                    }
                    <h2 class="heading">@nonprofit.Name</h2>
                       @if (!String.IsNullOrEmpty(nonprofit.Slogan))
                        {
                            <h4 class="subheading">"@nonprofit.Slogan"</h4>
                        }
            </a>
            </li>
            }
        }
        </ul>
        </div>
<script language="javascript">
    //wait to do event binding until the page is being initialized
    $(document).delegate('[data-role="page"]', 'pageinit', function () {

        $(this).find("img.lazy").lazyload();

        //cache the list-view element for later use
        var $listview = $(this).find('[data-role="listview"]');

        $(".organization-pledge").unbind("click").bind("click", function () {

            var recipientId = $(this).attr('recipient-id');
            var recipientName = $(this).attr('organization-name');
            var recipientImageUrl = $(this).attr('organization-image-url');
            var recipientType = $(this).attr('recipient-type');

            var model = {
                RecipientId: recipientId,
                RecipientName: recipientName,
                RecipientType: recipientType,
                RecipientImageUrl: recipientImageUrl
            };

            $.mobile.changePage(getBaseURL() + 'Pledge/AddCause', {
                data: model,
                dataUrl: getBaseURL() + 'Pledge/Index',
                reverse: true,
                transition: 'slide',
                type: 'post'
            });

        });

    });
        
</script>
</div>
