@model Mobile_PaidThx.Models.PledgeModels.PledgeMoneyModel
@{
    ViewBag.Title = "Accept Pledge";
    ViewBag.PageID = "pledge-page";
    ViewBag.Classes = "";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-add-back-btn="true" @TempData["DataUrl"]>
@{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>Accept Pledge</h1>
    </div>

    <div data-role="content">
    <div class="pad">
           @Html.ValidationSummary()
       @using (Html.BeginForm("Index", "Pledge", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slideup" } }))
       {

                 <a href="@Url.Content("~/Pledge/AddCause")" data-prefetch data-transition="slide">
                 <button id="btn-nonprofit" type="button" class="imgbtn field-btn" data-role="none">
                    <span class="imgbg">
                       </span>@if (!String.IsNullOrEmpty(Model.RecipientName))
                                                   {
                                <span id="org-name-donate">@Model.RecipientName</span>
                                                   }
                                                   else
                                                   {
                                <text><span
                            id="select-organization">Select a Non Profit</span></text>
                                                   }
                           
                          </button></a>
                <a href="@Url.Content("~/Pledge/AddContact")" data-prefetch data-transition="slide">
                     <button id="btn-recipient" data-role="none" type="button" class="imgbtn field-btn">
                        <span class="imgbg">
                           </span>@if (!String.IsNullOrEmpty(Model.RecipientUri))
                                                      {
                                    <span id="modelRecipient">@Model.RecipientUri</span>
                                                      }
                                                      else
                                                      {
                                    <text><span
                                id="person-select">Select Recipient</span></text>
                                                      }
                    </button>
                </a>
                <a href="@Url.Content("~/Pledge/AmountToSend")" data-prefetch data-transition="slide">
                 <button id="btn-amount" data-role="none" type="button" class="imgbtn field-btn">
                        <span class="imgbg">
                           </span><span
                            id="amount-request">@if (Model.Amount > 0)
                                                {
                                <text>@string.Format("{0:C}", Model.Amount)</text>
                                                }
                                                else
                                                {
                                <text>Enter Amount</text>
                                                }</span></button></a>
<p>
            <textarea id="txtComments-Donate" rows="10" cols="100" placeholder="Enter dedications, comments, etc"></textarea>
            </p>

        <p>
            <button type="submit" class="btn-jq" data-theme="f">
                    <span>Accept Pledge</span></button>
                    </p>
        }
       </div>
       </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 3, HeaderText = "Donate" }); }
</div>
