@model Mobile_PaidThx.Models.PledgeModels.PinSwipeModel
@{
    ViewBag.Title = "Pledge | Confirm Pledge";
    ViewBag.PageID = "confirm-pin-swipe-pledge";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
   
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
             <a href="@Url.Content("~/Pledge")"  class="hd-btn-left btn-back">Cancel</a>
    </div>
  
    <div class="pd-content">
    <div class="top-panel">
        @if(!String.IsNullOrEmpty(Model.RecipientImageUrl))
        {
            <text><img src="@Model.RecipientImageUrl" alt="@Model.RecipientName" class="ps-image" style="margin-right:12px;" /></text>
        }
        @if(!String.IsNullOrEmpty(Model.RecipientName))
        {
            <text>Please swipe your security PIN to confirm  <b>@Model.RecipientName</b>'s donation of <span class="lbl-amount donation out"><b>@String.Format("{0:C}", Model.Amount)</b></span> to <b>@Model.PledgeToName</b>.</text>
        } 
        else
        {
            <text>Please swipe your security PIN to confirm <b>@Model.RecipientUri</b>'s donation of <span class="lbl-amount donation out"><b>@String.Format("{0:C}", Model.Amount)</b></span> to <b>@Model.PledgeToName</b>.</text>
        }     
        <div class="clear"></div>
        </div>
            @Html.ValidationSummary()
    <div class="pad">
     
        
      
        @using (Html.BeginForm("PopupPinswipe", "Pledge", FormMethod.Post, new Dictionary<string, object> {{  "id", "pinSwipeForm"}, { "class", "validateMe"  } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
    </div>

@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}

