@model Mobile_PaidThx.Models.BankAccountModels.AddPaymentAccountModel
@{
    ViewBag.Title = "Add Payment Account";
}
<div data-role="page" id="bankaccounts-add-page" data-add-back-btn="true">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Add Bank Account</h1>
    </div>
    <div data-role="content" class="panel main-body">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
         @using (Html.BeginForm("Add", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            @Html.ValidationSummary()
          <!--  <p>
                <input type="text" id="txtNickname" name="Nickname" placeholder="Create an Account Nickname"
            required value="@Model.Nickname" /></p>-->
            <p>
                <input type="text" id="txtNameOnAccount" name="NameOnAccount" placeholder=" Name on the Account"
            required value="@Model.NameOnAccount" /></p>
            <p>
                <input type="text" id="txtRoutingNumber" name="RoutingNumber" placeholder="Routing Number"
            required value="@Model.RoutingNumber" /></p>
            <p>
                <input type="text" id="txtAccountNumber" name="AccountNumber" placeholder="Account Number"
            required value="@Model.AccountNumber" /></p>
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <input type="radio" name="AccountType" id="radio-choice-1" value="Checking" />
                    <label for="radio-choice-1">
                        Checking</label>
                    <input type="radio" name="AccountType" id="radio-choice-2" value="Savings" checked="checked" />
                    <label for="radio-choice-2">
                        Savings</label>
                </fieldset>
            </div>
            <p>
                <button type="submit" id="btn-add-account" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Add Bank Account</button></p>
         }
        </div>
    </div>
            <script type="text/javascript">
                $(document).delegate('#bankaccounts-add-page', 'pageinit', function () {
                    $('#txtNameOnAccount').focus();
                });
    </script>
</div>
