@model Mobile_PaidThx.Models.BankAccountModels.AddPaymentAccountModel
@{
    ViewBag.Title = "Add Payment Account";
    ViewBag.PageID = "bankaccounts-add-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div class="header-pdthx">
        <h1>
            Add Account</h1>
            <a href="@Url.Content("~/BankAccounts")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    @Html.ValidationSummary()
        <div class="pad">
         @using (Html.BeginForm("Add", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "id", "frmSubmit" }, { "class", "validateMe" }, { "data-transition", "slideup" } }))
         {
             
            <fieldset>
 <div class="editor-field">
                        <span class="form-holder"> @Html.TextBoxFor(m => m.NameOnAccount, new Dictionary<string, object>() { { "placeholder", "Name on Account" }, { "class", "required" } })</span>
                    </div>
                    <div class="editor-field">
                       <span class="form-holder">  @Html.TextBoxFor(m => m.RoutingNumber, new Dictionary<string, object>() { { "placeholder", "Bank Routing Number (9 Digits)" }, { "class", "required validaterouting" }, { "pattern", "[0-9]*" } })</span>
                    </div>
                    <div class="editor-field">
                       <span class="form-holder">  @Html.TextBoxFor(m => m.AccountNumber, new Dictionary<string, object>() { { "placeholder", "Your Account Number" }, { "class", "required accountformat" }, { "pattern", "[0-9]*" } })</span>
                    </div>
                    <div class="editor-field">
                       <span class="form-holder">  @Html.TextBoxFor(m => m.ConfirmAccountNumber, new Dictionary<string, object>() { { "placeholder", "Confirm Your Account Number" }, { "class", "required accountmatch" }, { "pattern", "[0-9]*" } })</span>
                    </div>
                    <div data-role="fieldcontain">
                        <div data-role="controlgroup" data-type="horizontal">
                            <input class="cs-radio input_hidden" type="radio" name="AccountType" id="radio-choice-1" value="Checking" checked="checked" />
                            <label class="cs-radio-label selected" for="radio-choice-1">
                                Checking</label>
                            <input class="cs-radio input_hidden" type="radio" name="AccountType" id="radio-choice-2" value="Savings" />
                            <label class="cs-radio-label" for="radio-choice-2">
                                Savings</label>
                        </div>
                    </div>
                    <p>
                <button type="submit" id="btn-add-account" class="pd-btn green">
                   Add Bank Account</button></p>
                    
                </fieldset>

         }
        </div>
    </div>

</div>
@section PageScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtNameOnAccount').focus();
        });
        //wait to do event binding until the page is being initialized
        $(document).on("pageshow", "#bankaccounts-add-page", function () {
            $.validator.addMethod("accountmatch", function (value) {
                return value == $("#AccountNumber").val();
            }, "Confirm Account Number must match Account Number");

            $("#frmSubmit").validate();
        });
    </script>
}
