@{
    ViewBag.Title = "Confirm";
    ViewBag.PageID = "confirm-add-account-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes">
 
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/BankAccounts")"  class="hd-btn-left btn-back">Cancel</a>
    </div>
  
    <div class="pd-content">
        @Html.ValidationSummary()
        <div class="pad">
            Enter Pinswipe</div>



        @using (Html.BeginForm("AddPopupPinswipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> {{  "id", "pinSwipeForm"}, { "class", "validateMe"  } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}