@model Mobile_PaidThx.Models.BankAccountModels.BankAccountsModel

@{
    ViewBag.Title = "Linked Bank Accounts";
    ViewBag.PageID = "preferences-bankaccounts-page";
    ViewBag.Classes = "page settings";
}

<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    <div  class="header-pdthx" >
        <h1>
            Accounts</h1>
        <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
   
     <div class="top-panel">
    @if (Model.PaymentAccounts.Count < 1)
    {
        
    <text>No bank account linked yet?  Well how do you expect to use PaidThx?  Add a bank below - it is a snap.</text>
        
        }else{                                                                                                                                                                                                                                        
    
    <text>Manage or add new bank accounts &amp; select your sending and receiving accounts below.</text> 

        }                                                                                                                                                                                                                                                                             
       </div> 
        @Html.ValidationSummary()
    <div class="pad">
 
        <h2 class="section-header">Your Linked Accounts</h2>
        <ul class="panel-container">
            @foreach (var bankAccount in Model.PaymentAccounts)
            {             
                <li class="settings bank"><a href="@Url.Content("~/BankAccounts/Edit/" + bankAccount.PaymentAccountId)">
                                      
                    <span class="bank-info">
                        <h2>@{if(!string.IsNullOrEmpty(bankAccount.Nickname)){
                                  <text>@bankAccount.Nickname</text>;
                             } else{
                                  <text>@bankAccount.AccountType - @bankAccount.AccountNumber</text>
                              }
                              
                              }
                              </h2> 
                        <h4 class="@bankAccount.Status">Verified</h4>
                        
                    </span>
                </a></li>
            }
            </ul>
            <ul class="panel-container">
            <li class="settings add">
                <a href="@Url.Content("~/BankAccounts/Add")">
                    Add an Account
                </a>
            </li>
            </ul>
            @if (Model.PaymentAccounts.Count > 0)
            {
            <h2 class="section-header">Sending Account:</h2>
            <div class="select-holder">
            @using (Html.BeginForm("SetPreferredSendAccount", "BankAccounts", FormMethod.Post))
            {     
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredSendAccountId), new { @id = "ddlPreferredSendAccount", @class = "select-custom" })
            }
            </div>
            <h2 class="section-header">Receiving Account</h2>
            <div class="select-holder">
            @using (Html.BeginForm("SetPreferredReceiveAccount", "BankAccounts", FormMethod.Post))
            { 
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredReceiveAccountId), new { @id = "ddlPreferredReceiveAccount", @class = "select-custom" })
            }
            </div>
            }
    </div>
    </div>
</div>

@section PageStyles{
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Libs/dropkick/dropkick.css")">
<link type="text/css" rel="stylesheet" href="@Url.Content("~/Libs/dropkick/theme.css")">
}
@section PageScripts{

<script type="text/javascript" src="@Url.Content("~/Libs/dropkick/jquery.dropkick-1.0.0.js")"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('.select-custom').dropkick({
        change: function(value, label) {
            $(this).parents('form:first').submit();
        }
    });
});
</script>

    @{
        if (TempData["Success"] != null && !String.IsNullOrEmpty(TempData["Success"].ToString())) {

        <text>
        <script type="text/javascript">
            $(document).ready(function () {
                confirmAlert("New Bank Account Added");
            });
       </script>
       </text>
        }
    }

}



