@model Mobile_PaidThx.Models.BankAccountModels.BankAccountsModel

@{
    ViewBag.Title = "Linked Bank Accounts";
    ViewBag.PageID = "preferences-bankaccounts-page";
    ViewBag.Classes = "page settings";
    TempData["DataUrl"] = "data-url=/mobile/BankAccounts";
}

<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    

    <div data-role="header" data-position="fixed" class="header-pdthx" >
    <a href="@Url.Content("~/Preferences")" class="ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-icon-left ui-btn-up-c" data-rel="back" data-icon="arrow-l"  data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Back</span><span class="ui-icon ui-icon-arrow-l ui-icon-shadow">&nbsp;</span></span></a>
        <h1>
            Bank Accounts</h1>
        <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content">
    <div class="pad">
 <div id="accounts-list">
        @Html.ValidationSummary()
        <h5>
            Your Linked Accounts</h5>
        <ul data-role="listview" data-inset="true">
            @foreach (var bankAccount in Model.PaymentAccounts)
            {             
                <li class="settings bank"><a href="@Url.Content("~/BankAccounts/Edit/" + bankAccount.PaymentAccountId)">
                                      
                    <span class="bank-info">
                        <h2>@{if(!string.IsNullOrEmpty(bankAccount.Nickname)){
                                  <text>@bankAccount.Nickname</text>;
                             } else{
                                  <text>@bankAccount.AccountType - @bankAccount.AccountNumber</text>
                              }
                              
                              }
                              </h2> 
                        <h4>@bankAccount.Status</h4>
                        
                    </span>
                </a></li>
            }
            </ul>
            <ul data-role="listview" data-inset="true">
            <li class="settings add">
                <a href="@Url.Content("~/BankAccounts/Add")">
                    Add an Account
                </a>
            </li>
            </ul>
            <h5>Sending Account</h5>
            @using (Html.BeginForm("SetPreferredSendAccount", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" } }))
            {     
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredSendAccountId), new { onchange = "this.form.submit();", @id = "ddlPreferredSendAccount" })
            }
            <h5>Receiving Account</h5>
            @using (Html.BeginForm("SetPreferredReceiveAccount", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" } }))
            { 
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredReceiveAccountId), new { onchange = "this.form.submit();", @id = "ddlPreferredReceiveAccount" })
            }
    </div>
    </div>
</div>
</div>