@model Mobile_PaidThx.Models.BankAccountModels.BankAccountsModel

@{
    ViewBag.Title = "Linked Accounts";
}

<div data-role="page" id="preferences-bankaccounts-page" data-add-back-btn="true">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Bank Accounts</h1>
        <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content">
 <div id="accounts-list" class="panel main-body">
        @Html.ValidationSummary()
        <h5>
            Your Linked Accounts</h5>
        <ul data-role="listview" data-inset="true">
            @foreach (var bankAccount in Model.PaymentAccounts)
            {             
                <li class=""><a href="@Url.Content("~/BankAccounts/Edit/" + bankAccount.PaymentAccountId)">
                   <img src="@bankAccount.BankIconURL" width="40" height ="40" alt="@bankAccount.Nickname" />
                   
                    <span class="bank-info">
                        <strong>@bankAccount.Nickname</strong> 
                        <br />
                        @bankAccount.AccountType - @bankAccount.AccountNumber
                    </span>
                </a></li>
            }
            <li class="settings add">
                <a href="@Url.Content("~/BankAccounts/Add")">
                    Add an Account
                </a>
            </li>
            </ul>
            <h5>Sending Account</h5>
            @using (Html.BeginForm("SetPreferredSendAccount", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" } }))
            {     
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredSendAccountId), new { onchange = "this.form.submit();", @id = "ddlPreferredSendAccount" })
            }
            <h5>Receiving Account</h5>
            @using (Html.BeginForm("SetPreferredReceiveAccount", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" } }))
            { 
                @Html.DropDownList("PaymentAccountId", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredReceiveAccountId), new { onchange = "this.form.submit();", @id = "ddlPreferredReceiveAccount" })
            }
    </div>
    </div>
</div>