@model Mobile_PaidThx.Models.MeCodesModels.DetailsMeCodeModel
@{
    ViewBag.Title = "ME Code Details";
    ViewBag.PageID = "mecode-details-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div class="header-pdthx" >
        <h1>
          Details</h1>
           <a href="@Url.Content("~/MeCodes")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">

    @Html.ValidationSummary()
        <div class="pad">
          <ul class="panel-container">
            <li class="settings mecode nolink">
            <a>
                   <h2>@Model.MeCode.Uri</h2>
                   <h4 class="verified">Active</h4>
               </a>    
            </li>
            </ul>
            
            <p>
            @using (Html.BeginForm("Delete", "MeCodes", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
            {
                <input type="hidden" name="PayPointId" value="@Model.MeCode.Id" />
                <button type="submit" id="btn-remove-email" class="pd-btn red">
                   Remove ME Code</button>
            }
            </p>
        </div>
    </div>
</div>
