@model Mobile_PaidThx.Models.MeCodesModels.MeCodesModel
@{
    ViewBag.Title = "ME Codes";
    ViewBag.PageID = "mecodes-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
        
    <div  class="header-pdthx" >
        <h1>
            ME Codes</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
   
    <div class="top-panel">
    @if (Model.PayPoints.Count < 1){
        
    <text>Mobile Exchange Codes (affectionately called ME Codes) are public codes that you can share with others instead of using your email address or phone number.  Whenever someone sends money to one of your ME Codes, it comes directly to you.  <br /><br /><a href="#">Learn More</a> or create your first ME Code below.</text>
        
        }else{                                                                                                                                                                                                                                        
    
    <text><b>You are using @Model.PayPoints.Count of your 3 available ME Codes.</b></text> 

        }                                                                                                                                                                                                                                                                             
       </div>  
        <div class="pad">
         @if (Model.PayPoints.Count > 0)
         {                                                                                                                                                                                                                                                                              
        <ul class="panel-container">
            @foreach (var payPoint in Model.PayPoints)
            { 
            <li class="settings mecode">
                <a href="@Url.Content("~/MeCodes/Details/" + payPoint.Id)">
                <h2>
                    @payPoint.Uri</h2>
                    <h4>Active</h4>
                </a>
            </li>
            }
        </ul>
         }
        <ul class="panel-container">
            <li class="settings add">
               <a href="@Url.Content("~/MeCodes/Add")">                   
                    Create ME Code</a>
            </li>
        </ul>
    </div>
    </div>
