@model Mobile_PaidThx.Models.EmailsModels.DetailsEmailModel
@{
    ViewBag.Title = "Email Details";
    ViewBag.PageID = "email-details-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div class="header-pdthx" >
        <h1>Details</h1>
        <a href="@Url.Content("~/Emails")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    <div class="top-panel">
    <p>

    @{
        if(TempData["Message"] != null && !String.IsNullOrEmpty(TempData["Message"].ToString()))
        {
            @TempData["Message"]
        }
    else {
        if (Model.EmailAddress.Verified)
        {
        <text>
        <b>@Model.EmailAddress.Uri</b> is verified, you will receive all payments sent to this email.  Pretty cool.
        </text>
        }
        else
        {
         <text>
         <b>@Model.EmailAddress.Uri</b> is not verified, to start receiving payments to this number, please click "Resend Email" below and follow the instructions in the email you will receive.
        </text>
        }
        }
    }
                
            </p>
    
    </div>
    @Html.ValidationSummary()
        <div class="pad">
       
        <ul class="panel-container">
            <li class="settings email nolink">
            <a>
                   <h2>@Model.EmailAddress.Uri
                   </h2>
                   
                   @if (Model.EmailAddress.Verified)
                   {
                        <text><h4 class="verified">Verified</h4></text>
                   }
                   else
                   {
                        <text><h4 class="unverified">Not Verified</h4></text>
                   }
               </a>    
            </li>
            </ul>
             @if (!Model.EmailAddress.Verified)
             {
                using (Html.BeginForm("ResendVerification", "Emails", FormMethod.Post))
                {
                <text>
                <input type="hidden" name="PayPointId" value="@Model.EmailAddress.Id" />
                <button type="submit" id="btn-verify-account" class="pd-btn blue">
                  Resend Activation Email</button>
                </text>
                }
                    
              }
 
            @using (Html.BeginForm("Delete", "Emails", FormMethod.Post))
            {
                <input type="hidden" name="PayPointId" value="@Model.EmailAddress.Id" />
                <button type="submit" id="btn-remove-email" class="pd-btn red">
                   Remove Email</button>
            }
            </div>
    </div>
</div>
