@model Mobile_PaidThx.Models.EmailsModels.EmailsModel
@{
    ViewBag.Title = "Linked Emails";
    ViewBag.PageID = "email-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div class="header-pdthx" >
        <h1>Email Accounts</h1>
        <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
        <div class="pad">
            <ul class="panel-container">
                @foreach (var payPoint in Model.PayPoints)
                { 
                    <li class="settings email">
                        <a href="@Url.Content("~/Emails/Details/" + payPoint.Id)">
                            <h2>@payPoint.Uri</h2>
                            <h4 class="@{ if(payPoint.Verified){<text>verified</text>}else{<text>unverified</text>}}">
                                @if (payPoint.Verified)
                                {
                                    <text>Verified</text>
                                }
                                else
                                {
                                    <text>Not Verified</text>
                                }
                            </h4>
                        </a>
                    </li>
                }
            </ul>
            <ul class="panel-container">
                <li class="settings add">


                    <a href="@Url.Content("~/Emails/Add")">Add Email Address</a></li>
            </ul>
        </div>
    </div>
</div>
