@model Mobile_PaidThx.Models.PhonesModels.DetailsPhonesModels
@{
    ViewBag.Title = "Phone Details";
    ViewBag.PageID = "add-email-paypoint-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >

    <div class="header-pdthx">
        <h1>Details</h1>
        <a href="@Url.Content("~/Phones")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
        <div class="top-panel">
            <p>

                @{
                    
                        if (Model.PhoneNumber.Verified)
                        {
                    <text>
                    <b>@Model.PhoneNumber.Uri</b> is verified, you will receive all payments sent to this number.  Awesome.
        </text>
                        }
                        else
                        {
                    <text>
                    <b>@Model.PhoneNumber.Uri</b> is not verified.  We sent you a text with a verification code.  Click the "Verify" button below and enter that code in the box.  If you did not receive the text, click "Resend Code".
        </text>
                        }
                    }

            </p>
            
             @{
                if (!Model.PhoneNumber.Verified)
                {
                    <div class="btn-divider"></div>
                    using (Html.BeginForm("ResendVerificationCode", "Phones", FormMethod.Post))
                    {
                <input type="hidden" name="PayPointId" value="@Model.PhoneNumber.Id" />
                <button type="submit" style="width:48%; float:left;" id="btn-resend-verification-code" class="pd-btn blue">
                    Resend Code</button>
                    }

                    using (Html.BeginForm("VerifyPhone", "Phones", FormMethod.Get))
                    {
                        <input type="hidden" name="PayPointId" value="@Model.PhoneNumber.Id" />
                        <button type="submit"  style="width:48%; float:right;" id="btn-verify-phone" class="pd-btn green">
                            Verify</button>
                    }
                }
                <div class="clear"></div>
            }
           

        </div>
        @Html.ValidationSummary()
        <div class="pad">

            <ul class="panel-container">
                <li class="settings phone nolink">
                    <a href="#">
                        <h2>@Model.PhoneNumber.Uri</h2>
                        @if (Model.PhoneNumber.Verified)
                        {
                            <text><h4 class="verified">Verified</h4></text>
                        }
                        else
                        {
                            <text><h4 class="unverified">Not Verified</h4></text>
                        }
                        </h4>
                    </a>
                </li>
            </ul>
            
            @using (Html.BeginForm("Delete", "Phones", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
            {
                <input type="hidden" name="PayPointId" value="@Model.PhoneNumber.Id" />
                <button type="submit" id="btn-remove-email" class="pd-btn red">
                    Remove Phone</button>
            }

        </div>
    </div>
</div>

@section PageScripts{
<script type="text/javascript">
    $(document).ready(function () {


        $("#btn-resend-verification-code").click(function () {
            showFullLoader("Sending Text");
        });




    });

    </script>

    }