@model Mobile_PaidThx.Models.PhonesModels.PhonesModel
@{
    ViewBag.Title = "Phone #s";
    ViewBag.PageID = "phone-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
        
<div class="header-pdthx" >
        <h1>
            Phones</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
     <div class="top-panel">
    @if (Model.PayPoints.Count < 1){
        
    <text>Link your phone numbers to claim all payments sent to them. Click "Add Phone" below to add your first one. </text>
        
        }else{                                                                                                                                                                                                                                        
    
    <text>Manage your linked phone numbers or add new phones here.  Be sure to verify each phone number. </text> 

        }     
    </div>
    <div class="pad">
        <ul class="panel-container">
            @foreach (var payPoint in Model.PayPoints)
            { 
            <li class="settings phone" >
                 <a href="@Url.Content("~/Phones/Details/" + payPoint.Id)">
                    <h2>@payPoint.Uri</h2>
                    <h4 class="@{ if(payPoint.Verified){<text>verified</text>}else{<text>unverified</text>}}">
                    @if (payPoint.Verified)
                    {
                        <text>Verified</text>
                    }
                    else
                    {
                        <text>Not Verified</text>
                    }
                    </h4>
                </a>
            </li>
            }
        </ul>
        <ul class="panel-container">
            <li class="settings add">
                <a href="@Url.Content("~/Phones/Add")">
                    Add Phone</a>
            </li>
        </ul>
    </div>
    </div>
</div>

@section PageScripts{


    @{
        if (TempData["Success"] != null && !String.IsNullOrEmpty(TempData["Success"].ToString())) {

        <text>
        <script type="text/javascript">
        $(document).ready(function () {
        confirmAlert("New Phone Added - Please Verify");
          });
       </script>
       </text>
        }
    }

}