@model Mobile_PaidThx.Models.PhonesModels.VerifyPhoneModel
@{
    ViewBag.Title = "Verify Mobile Number";
    ViewBag.PageID = "phones-verify";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div class="header-pdthx">
        <h1>
            Verify</h1>
            <a href="@Url.Content("~/Phones/Details?Id=" + @Model.PayPointId)"  class="hd-btn-left btn-back">Cancel</a>
    </div>
    <div class="pd-content">
    <div class="top-panel">
    We sent a text message with a verification code to this mobile number.  Please find the verification code and enter it in the text box below.
    </div>
    @Html.ValidationSummary()
    <div class="pad">
         @using (Html.BeginForm("VerifyPhone", "Phones", FormMethod.Post))
         {
            @Html.HiddenFor(m => m.PayPointId)
             <p>
            @Html.TextBoxFor(m => m.VerificationCode, new Dictionary<string, object>() { { "id", "verificationCode" }, { "placeholder", "4 Digit Code" } })
            </p>
            <p>
                <button type="submit" id="send-reminder-button" class="pd-btn green">
                    <span>Verify</span></button>
            </p>
         }
        </div>
    </div>
</div>


@section PageScripts{


    @{
        if (TempData["Success"] != null) {

        <text>
        <script type="text/javascript">
            $(document).ready(function () {
                confirmAlert("Verification Text Sent Again");
            });
       </script>
       </text>
        }
    }

}