@model Mobile_PaidThx.Models.NotificationModels.NotificationModel
@{
    ViewBag.Title = "Sharing";
    ViewBag.PageID = "sharing-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div class="header-pdthx" >
        <h1>
            Sharing</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back history">Back</a>
    </div>
    <div class="pd-content">
        @foreach (var subject in Model.NotificationSubjects)
        {
            @subject.Description
            <ul data-role="listview" data-inset="true" class"sliders">
            @foreach (var item in subject.NotificationItems)
            {
            <li>
                <div data-role="fieldcontain">
                <label for="@item.ConfigurationKey">@item.Description</label>
                @Html.DropDownList(item.ConfigurationKey, new SelectList(item.Options, "Value", "Key", item.SelectedValue), new Dictionary<string, object>  { { "id", item.ConfigurationKey }, { "class", "sharing-item" },  { "data-role", "slider" }, { "data-theme", "b" }})
                </div>
                </li>
           
            }
            </ul>
        }
    </div>
</div>
