@model Mobile_PaidThx.Models.SecurityModels.ChangePasswordModel
@{
    ViewBag.Title = "Security | Change Password";
    ViewBag.PageID = "change-password-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
        
    <div  class="header-pdthx" >
        <h1>
            Change Password</h1>
            <a href="@Url.Content("~/Security")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    <div class="top-panel">
    Changing your password is always a great idea.  Enter your old password and your new password below to change.
    </div>
    @Html.ValidationSummary()
    <div class="pad">
     @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide" } }))
     {   
        <span class="form-holder">@Html.PasswordFor(m => m.OldPassword, new Dictionary<string, object>() { { "placeholder", "Old Password" } })</span>
        <span class="form-holder">@Html.PasswordFor(m => m.NewPassword, new Dictionary<string, object>() { { "placeholder", "New Password" } })</span>
        <span class="form-holder">@Html.PasswordFor(m => m.NewPasswordConfirmation, new Dictionary<string, object>() { { "placeholder", "Confirm New Password" } })</span>
          <button type="submit" id="changepassword-submit" class="pd-btn green">
                Change Password</button>

     }
     </div>
    </div>

</div>