@model Mobile_PaidThx.Models.SecurityModels.ConfirmSecurityPinModel
@{
    ViewBag.Title = "Confirm Security PIN";
    ViewBag.PageID = "confirm-pin-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
        
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/Security/ChangeSecurityPin")"  class="hd-btn-left btn-back">Cancel</a>
    </div>
    <div class="pd-content">
     <div class="top-panel">
   
        <p>Confirm your new security pin by swiping it again.</p></div>
        @Html.ValidationSummary()
    <div class="pad">
               
        @using (Html.BeginForm("ChangeSecurityPinConfirm", "Security", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slideup" } }))
        {       
           Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
        </div>
    </div>

    </div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
