@model Mobile_PaidThx.Models.SecurityModels.ChangeSecurityPinModel
@{
    ViewBag.Title = "Security | Change Security PIN";
    ViewBag.PageID = "change-security-pin-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    <div  class="header-pdthx" >
        <h1>
            Change PIN</h1>
            <a href="@Url.Content("~/Security")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    <div class="top-panel">
   
        <p>To change your security PIN, first swipe your current PIN.</p></div>
        @Html.ValidationSummary()
    <div class="pad">
          
        @using (Html.BeginForm("ChangeSecurityPin", "Security", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slideup" } }))
        {       
            Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
        </div>
    </div>

</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}

