@model Mobile_PaidThx.Models.SecurityModels.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.PageID = "changepassword-page";
}

<div  id="@ViewBag.PageID"  >
        
    <div data-role="header" class="header-pdthx" >
        <h1>
            Change Password</h1>
            <a href="@Url.Content("~/Security")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div data-role="content">
    <div class="pad">
     @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide" } }))
     {   
        @Html.ValidationSummary()
        <span class="form-holder">@Html.PasswordFor(m => m.OldPassword, new Dictionary<string, object>() { { "placeholder", "Old Password" } })</span>
        <span class="form-holder">@Html.PasswordFor(m => m.NewPassword, new Dictionary<string, object>() { { "placeholder", "New Password" } })</span>
        <span class="form-holder">@Html.PasswordFor(m => m.NewPasswordConfirmation, new Dictionary<string, object>() { { "placeholder", "Confirm New Password" } })</span>
          <button type="submit" id="changepassword-submit" data-theme="f" data-icon="check" data-iconpos="right">
                Change Password</button>

     }
     </div>
    </div>

</div>