@model Mobile_PaidThx.Models.SecurityModels.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div data-role="page" id="changepassword-page" data-add-back-btn="true" @TempData["DataUrl"]>
        @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Change Password</h1>
    </div>
    <div data-role="content" style="margin: 15px;">
     @using (Html.BeginForm("ChangePassword", "Security", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide" } }))
     {   
        @Html.ValidationSummary()
        <p>@Html.PasswordFor(m => m.OldPassword, new Dictionary<string, object>() { { "placeholder", "Old Password" } })</p>
        <p>@Html.PasswordFor(m => m.NewPassword, new Dictionary<string, object>() { { "placeholder", "New Password" } })</p>
        <p>@Html.PasswordFor(m => m.NewPasswordConfirmation, new Dictionary<string, object>() { { "placeholder", "Confirm New Password" } })</p>
        <p>
            <button type="submit" id="register-submit" class="imgbtn">
                <img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>Change Password</span></button>

        </p>
     }
    </div>

</div>