@model Mobile_PaidThx.Models.SecurityModels.ChangeSecurityPinModel
@{
    ViewBag.Title = "Change PIN";
    ViewBag.PageID = "forgotsecuritypin-pinswipe-confirm-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
        
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/ForgotSecurityPin")"  class="hd-btn-left btn-back history">Cancel</a>
    </div>
    <div class="pd-content">
    @Html.ValidationSummary()
    <div class="pad">
      
        @using (Html.BeginForm("ForgotSecurityPin_PinSwipeConfirm", "Security", FormMethod.Post, new Dictionary<string, object> {{  "id", "pinSwipeForm"}, { "class", "validateMe"  } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
    </div>


</div>

@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
