@model Mobile_PaidThx.Models.SecurityModels.ChangeSecurityPinModel
@{
    ViewBag.Title = "Create a New PIN";
    ViewBag.PageID = "forgotsecuritypin-pinswipe-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
       
    <div class="header-pdthx" >
        <h1>
            New PIN</h1>
            <a href="@Url.Content("~/Security/ForgotSecurityPin")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    @Html.ValidationSummary()
    <div class="pad">
      
        @using (Html.BeginForm("ForgotSecurityPin_PinSwipe", "Security", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slideup" } }))
        {       
           Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
    </div>
    </div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
