@model Mobile_PaidThx.Models.SecurityModels.SecurityPreferencesModel
@{
    ViewBag.Title = "Security";
    ViewBag.PageID = "security-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
<div  id="security-page"  >
    
    <div class="header-pdthx" >
        <h1>
            Security</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    <div class="top-panel"></div>
        <div class="pad">
            
            <ul data-role="listview" data-inset="true">
                <li>
                    <!--Rate PaidThx ( won't be used this version )-->
                    <!-- Separate Set -->
                    <!-- User Agreement -->
                    <a href="@Url.Content("~/Security/ChangePassword")" data-prefetch data-transition="slide">
                    Change Password </a></li>
                @if (Model.SetupSecurityPin)
                {
                <li>
                    <!-- Sign Out -->
                    <a  href="@Url.Content("~/Security/ChangeSecurityPin")" data-prefetch data-transition="slide">
                    Change Security Pin </a></li>
                <li>
                    <!-- Sign Out -->
                    <a  href="@Url.Content("~/Security/ForgotSecurityPin")" data-prefetch data-transition="slide">
                    Forgot Security Pin</a></li>
                }
            </ul>
        </div>
    </div>
</div>
