@model Mobile_PaidThx.Models.SecurityModels.SecurityPreferencesModel
@{
    ViewBag.Title = "Security";
    ViewBag.PageID = "security-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
<div  id="security-page"  >
    
    <div class="header-pdthx" >
        <h1>
            Security</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
   <div class="top-panel">
            <p>

                @{
                    if (TempData["Message"] != null && !String.IsNullOrEmpty(TempData["Message"].ToString()))
                    {
                    @TempData["Message"]
                    }
                }

            </p>
       </div>
        <div class="pad">
            
            <ul class="panel-container">
                <li class="settings noicon">
                    <a href="@Url.Content("~/Security/ChangePassword")"  >
                    <h2 class="heading">Change Password</h2>
                    <h4 class="subheading">Do it regularly, stay secure</h4>
                     </a></li>
                @if (Model.SetupSecurityPin)
                {
                <li class="settings noicon">
                    <a  href="@Url.Content("~/Security/ChangeSecurityPin")"  >
                    <h2 class="heading">Change Security PIN</h2>
                    <h4 class="subheading">Make it even more complex this time</h4></a></li>
                <li class="settings noicon">
                    <a  href="@Url.Content("~/Security/ForgotSecurityPin")"  >
                   <h2 class="heading">Forgot Security PIN</h2>
                    <h4 class="subheading">No problem, we'll get you sorted</h4></a></li>
                }
            </ul>
        </div>
    </div>
</div>
