@model Mobile_PaidThx.Models.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend>Account Information</legend>

            
                @Html.LabelFor(m => m.OldPassword)
          
             <span class="form-holder">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
                </span>

            
                @Html.LabelFor(m => m.NewPassword)
           
            <span class="form-holder">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </span>

            
                @Html.LabelFor(m => m.ConfirmPassword)
            
            <span class="form-holder">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </span>

            <p>
           <button type="submit" id="changepassword-submit" data-theme="f" data-icon="check" data-iconpos="right">
                Change Password</button>
            </p>
        </fieldset>
    </div>
}

@section PageScripts{
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}