@{
    ViewBag.Title = "Forgot Password";
    ViewBag.PageID = "forgot-pass-page";
    ViewBag.Classes = "";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Forgot Password</h1>
    </div>
    <div data-role="content">
    <div class="pad">
    @Html.ValidationSummary()
    
    @if (Model.PasswordSent)
    {
        <text>
            <p><b>Check your email</b> - we just sent a password reset link which will walk you through the process.</p>
        </text>
    }
    else
    {
        <text>
             <p>Enter your email address or mobile number below and we'll send you a link to reset your password.</p>
        </text>
    }
    <div id="registration-form">
        <form id="frmSignIn" action="@Url.Content("~/Account/ForgotPassword")" method="post">
            <input type="text" id="username" class="required" placeholder="Email Address or Phone #" name="UserName" />
            <button type="submit" id="btn-forgot-password" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Send Email</button>
       
    </form>
    </div>
    <div id="main-body-sub-links">
        <p style="text-align: center">
            <a href="@Url.Content("~/SignIn")">Return to Sign In</a></p>
        <p style="text-align: center">
            New to PaidThx? <a href="@Url.Content("~/Join")">Join Now</a>, It's Free!
        </p>
    </div>
    </div>
</div>

