@{
    ViewBag.Title = "Forgot Password";
    ViewBag.PageID = "forgot-pass-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes">
    @{ Html.RenderPartial("TitleBar"); }
    <div class="header-pdthx">
        <h1>
            Forgot Password</h1>
    </div>
    <div class="pd-content">
    <div class="top-panel">
    
    @if (Model.PasswordSent)
    {
        <text>
            <p><b>Check your email</b> - we just sent a password reset link which will walk you through the process.</p>
        </text>
    }
    else
    {
        <text>
             <p>Enter your email address below and we'll send you a link to reset your password.</p>
        </text>
    }
    </div>
    @Html.ValidationSummary()
    <div class="pad">
    
    
    <div id="registration-form">
        <form id="frmSignIn" action="@Url.Content("~/Account/ForgotPassword")" method="post">
            <input type="text" id="username" class="required" placeholder="Enter Email Address" name="UserName" />
            <button type="submit" id="btn-forgot-password" class="pd-btn green">
                   Send Email</button>
       
    </form>
    </div>
    <div id="main-body-sub-links">
        <p style="text-align: center">
            <a href="@Url.Content("~/SignIn")">Return to Sign In</a></p>
        <p style="text-align: center">
            New to PaidThx? <a href="@Url.Content("~/Join")">Join Now</a>, It's Free!
        </p>
    </div>
    </div>
</div>

