@model Mobile_PaidThx.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Your Password";
    ViewBag.PageID = "reset-password";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    <div class="header-pdthx">
        <h1>Reset Password</h1>
    </div>
    <div class="pd-content">
    <div class="top-panel">
     <p>
                Create and confirm your new password below:
            </p>

    </div>
        <div class="pad">

           
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
                @Html.HiddenFor(m => m.HasSecurityQuestion)
                @Html.HiddenFor(m => m.SecurityQuestion);
                                            
                <p>
                    @if (Model.HasSecurityQuestion)
                    {
                        @Model.SecurityQuestion
                        <br />
                        <input type="text" id="txtAnswer" name="SecurityQuestionAnswer" placeholder="Answer" required />
                    }
                </p>

                <p>
                    <input type="password" id="txtNewPassword" class="required passwrdvalidator" name="NewPassword" placeholder="New Password" required />
                </p>

                <p>
                    <input type="password" id="txtConfirmPassword" class="required pwmatchreset" name="ConfirmPassword" placeholder="Confirm Password" required />
                </p>

                <p>
                    <button type="submit" id="btn-reset-password" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                        Confirm New Password</button>

                </p>
            }
        </div>
    </div>
</div>