@{
    ViewBag.Title = "Verify Paypoint";
    ViewBag.PageID = "paypoint-verify";
    ViewBag.Classes = "page";
}

<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    <div class="header-pdthx">
        <h1>
           Verified</h1>
       <a href="@Url.Content("~/Dashboard")"  class="hd-btn-left btn-back">Home</a>
    </div>
    <div class="pd-content">
    <div class="top-panel">
            @if (ViewBag.Confirmed)
        {
            <text>Success - You have successfully verified this paypoint and can now begin to receive funds sent to this email address.</text>
        }
        else
        {
            @ViewBag.Message
        }
    </div>
    <div class="pad">
    <a href="@Url.Content("~/Emails")" id="btn-back-to-emails" class="pd-btn blue">
                   Return to Emails</a>
        </div>
    </div>
</div>