@model Mobile_PaidThx.Models.PreferencesModels.ProfileModel
@{
    ViewBag.Title = "Profile";
    ViewBag.PageID = "profile-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div class="header-pdthx" >
        <h1>
            You</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back history">Back</a>
    </div>
    <div class="pd-content">
     <div class="top-panel">
    <p>Keeping your profile up to date is important - it helps us verify your identity and allows us to reward responsible behavior on the PaidThx network.</p>  
    </div>
    <div class="pad">
        
            @foreach (var profileSection in Model.ProfileSections)
            {
                foreach (var profileItem in profileSection.ProfileItems)
                {
                    string value = "";
                    var attribute = Model.User.userAttributes.FirstOrDefault(u => u.AttributeId == profileItem.UserAttributeId);
                    if (attribute != null)
                    {
                        value = attribute.AttributeValue;
                    }
                    
                    switch (profileItem.ItemType)
                    {
                        case "ShortText":
                            <label for="@profileItem.Id">@profileItem.Label</label>
                            <text><span class="form-holder"> <input type="text" placeholder="@profileItem.Label" name="@profileItem.Id" data-attribute-id="@profileItem.Id" data-key="@profileItem.UserAttributeId" value="@value" class="profile-item" /></span></text>
                            break;
                    }
                } 

            }
        </div>
    </div>
</div>

@section PageStyles{

}
@section PageScripts{
<script type="text/javascript">
    $(document).ready(function () {

       

        // Toggle switch when clicked
        $("#@ViewBag.PageID").delegate(".profile-item", "change", function (event) {
            // Define vars
            var key, value;

            key = $(this).attr('data-key');
            value = $(this).val();
            attributeId = $(this).attr('data-attribute-id');

            var requestModel = {
                AttributeId: attributeId,
                Key: key,
                Value: value
            };

            var getBaseURL = function () {
                return location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/mobile/";
            }
            var jsonData = $.toJSON(requestModel);
            var serviceUrl = getBaseURL() + 'Profile/Index';

            $.ajax({
                type: 'POST',
                url: serviceUrl,
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                processData: false
            });

        });

    });      // End 
</script>
}
