@model Mobile_PaidThx.Models.PreferencesModels.ProfileModel
@{
    ViewBag.Title = "Profile";
}

<div  id="preferences-profile-page"  >
    
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>
            Me</h1>
    </div>
    <div data-role="content" style="margin: 15px;">
        
            @foreach (var profileSection in Model.ProfileSections)
            { 
                <h5>@profileSection.SectionHeader</h5>
                <ul data-role="listview" data-inset="true">
                @foreach (var profileItem in profileSection.ProfileItems)
                {
                    string value = "";
                    var attribute = Model.User.userAttributes.FirstOrDefault(u => u.AttributeId == profileItem.UserAttributeId);
                    if (attribute != null)
                    {
                        value = attribute.AttributeValue;
                    }
                    
                    <li data-role="fieldcontain">
                    <label for="@profileItem.Id">@profileItem.Label</label>
                    @switch (profileItem.ItemType)
                    {
                        case "ShortText":
                            <text><input type="text" name="@profileItem.Id" value="@value" /></text>
                            break;
                    }
                    </li>
                } 
                </ul>
            }
        
    </div>
</div>
