@model Mobile_PaidThx.Models.PreferencesModels.ProfileModel
@{
    ViewBag.Title = "Profile";
    ViewBag.PageID = "profile-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div class="header-pdthx" >
        <h1>
            You</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back history">Back</a>
    </div>
    <div class="pd-content">
    <div class="pad">
        
            @foreach (var profileSection in Model.ProfileSections)
            { 
                foreach (var profileItem in profileSection.ProfileItems)
                {
                    string value = "";
                    var attribute = Model.User.userAttributes.FirstOrDefault(u => u.AttributeId == profileItem.UserAttributeId);
                    if (attribute != null)
                    {
                        value = attribute.AttributeValue;
                    }
                    
                    switch (profileItem.ItemType)
                    {
                        case "ShortText":
                            <label for="@profileItem.Id">@profileItem.Label</label>
                            <text><span class="form-holder"> <input type="text" placeholder="@profileItem.Label" name="@profileItem.Id" value="@value" /></span></text>
                            break;
                    }
       
                } 

            }
        </div>
    </div>
</div>
