<div id="footer">
        <p id="footer-menu">
            <a href="@Url.Content("~/Profile")" data-ajax="false">Home</a> | <a href="@Url.Content("~/Home/About")" data-ajax="false">How It Works</a> | <a href="@Url.Content("~/Home/PrivacyPolicy")" data-ajax="false">Privacy Policy</a> | <a href="@Url.Content("~/Home/ContactUs")" data-ajax="false">Contact Us</a> | 
            @if (Session["UserId"] != null)
            {
                <text><a href="@Url.Content("~/Account/SignOut")" data-ajax="false">Sign Out</a></text>
            }
            else
            {
                <text><a href="@Url.Content("~/Account/SignIn")" data-ajax="false">Sign In</a></text>
            }
        </p>
        <p class="copyright">
            Copyright &copy; 2012 PaidThx. All rights reserverd</p>
        <p style="text-align: center">
            <img src="@Url.Content("~/Content/images/verisign_image.gif")" /></p>
    </div>