<ul id="searchListHolder" class="hidden">
      
               </ul>

                <ul id="listItemHolder" class="hidden">
                   <li id="search-item" class="contact-select nolink searchHelper">
                    @using (Html.BeginForm())
                    {
                    @Html.Hidden("recipientUri", "", new Dictionary<string, object> { { "id", "contact-new-recipient-uri" } })
                    @Html.Hidden("recipientType", "new", new Dictionary<string, object> { { "id", "contact-new-recipient-type" } })
                    @Html.Hidden("recipientName", "", new Dictionary<string, object> { { "id", "contact-new-recipient-name" } });
                    <a href="#" id="contact-new-recipient-link" class="contact-new-recipient" data-uri-valid="0">
                    <img width="50" height="50" class="list-thumbnail" src="@Url.Content("~/Content/images/avatar.png")" />
                    <h2 id="results-header" class="heading">No matches found</h2>
                    <h4 id="results-description" class="subheading">Keep typing to add new</h4>
                   </a>
                    }
                   <div class="clear"></div>
               </li>
               <li id="contact-no-results" class="contact-no-results-item contact-select nolink searchHelper">
                    <a href="#" id="contact-new-recipient-link" class="contact-new-recipient" data-uri-valid="0">
                    <img width="50" height="50" class="list-thumbnail" src="@Url.Content("~/Content/images/avatar.png")" />
                    <h2 id="no-results-header" class="heading">No contacts...yet</h2>
                    <h4 id="no-results-description" class="subheading">Type a new email or phone</h4>
                   </a>
                   <div class="clear"></div>
               </li>
               <li id="cause-no-results" class="contact-no-results-item contact-select nolink searchHelper">
                    <a href="#" id="contact-new-recipient-link" class="contact-new-recipient" data-uri-valid="0">
                    <img width="50" height="50" class="list-thumbnail" src="@Url.Content("~/Content/images/npo.png")" />
                    <h2 id="no-results-header" class="heading">No Results</h2>
                    <h4 id="no-results-description" class="subheading">Check entry and try again</h4>
                   </a>
                   <div class="clear"></div>
               </li>
               <li class="settings unlinked searchHelper" id="facebook">
                    <!-- Facebook -->
                    <a href='#'>
                    <h2 class="heading"> Link Your Facebook </h2>
                    <h4 class="subheading">Send to your friends! Click to link.</h4> </a>
                    </li>
                     <li class="list-divider" id="me-codes-divider">
                   <span>ME CODES</span>
                    </li>
                    <li id="me-code-search-item" class="contact-no-results-item contact-select nolink">
                    <a href="#" id="contact-new-recipient-link" class="contact-new-recipient" data-uri-valid="0">
                    <img width="50" height="50" class="list-thumbnail" src="@Url.Content("~/Content/images/avatar.png")" />
                    <h2 id="no-results-header" class="heading">Kepp Typing...</h2>
                    <h4 id="no-results-description" class="subheading">Keep typing to search ME Codes</h4>
                   </a>
                   <div class="clear"></div>
               </li>
                      <li id="me-code-none-item" class="contact-no-results-item contact-select nolink searchHelper">
                    <a href="#" id="contact-new-recipient-link" class="contact-new-recipient" data-uri-valid="0">
                    <img width="50" height="50" class="list-thumbnail" src="@Url.Content("~/Content/images/avatar.png")" />
                    <h2 id="no-results-header" class="heading">No Matches Found</h2>
                    <h4 id="no-results-description" class="subheading">Check ME Code and retry</h4>
                   </a>
                   <div class="clear"></div>
               </li>
               </ul>