@model Mobile_PaidThx.Models.MenuModel
<div id="menu-app" data-role="footer" data-position="fixed" class="nav-pdthx" data-theme="c">
        <div data-role="navbar" class="nav-pdthx" data-grid="d">
            <ul>
                <li><a href="@Url.Content("~/Dashboard")" class="@Html.GetWelcomeTabCssClass(Model, 0)" id="home" data-icon="custom" data-prefetch>Home</a></li>
                <li><a href="@Url.Content("~/Request")" class="@Html.GetWelcomeTabCssClass(Model, 1)" id="request" data-icon="custom" data-prefetch>Req. $</a></li>
                <li><a href="@Url.Content("~/Send")" class="@Html.GetWelcomeTabCssClass(Model, 2)" id="send" data-icon="custom" data-prefetch>Send $</a></li>
                <li><a href="@Url.Content("~/DoGood")" class="@Html.GetWelcomeTabCssClass(Model, 3)" id="dogood" data-icon="custom" data-prefetch>Do Good</a></li>
                <li><a href="@Url.Content("~/Paystream")" class="@Html.GetWelcomeTabCssClass(Model, 4)" id="paystream" data-icon="custom" data-prefetch>Stream</a></li>
            </ul>
        </div>
    </div>