<div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Paystream</h1>
       <a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>
        <div data-role="navbar" class="nav-pdthx" data-grid="d">
            <ul>
                <li><a href="@Url.Content("~/Home")" class="nav-item" id="home" data-icon="custom">Home</a></li>
                <li><a href="@Url.Content("~/Request")" class="nav-item" id="request" data-icon="custom">
                    Req. $</a></li>
                <li><a href="@Url.Content("~/Send")" class="nav-item" id="send" data-icon="custom">Send $</a></li>
                <li><a href="@Url.Content("~/DoGood")" class="nav-item" id="dogood" data-icon="custom">Do Good</a></li>
                <li><a href="@Url.Content("~/Paystream")" class="nav-item ui-btn-active" id="paystream" data-icon="custom">Stream</a></li>
            </ul>
        </div>
    </div>