@model Mobile_PaidThx.Models.MenuModel
<!--
       <div data-role="navbar" class="nav-welcome-menu" data-iconpos="top" data-grid="c">
        <ul>
            <li><a href="@Url.Content("~/Home")" class="@Html.GetWelcomeTabCssClass(Model, 0)" id="home" data-icon="custom" data-prefetch>
                Welcome</a></li>
            <li><a href="@Url.Content("~/SignIn")" class="@Html.GetWelcomeTabCssClass(Model, 1)" id="signin" data-icon="custom" data-prefetch>
                Sign In</a></li>
            <li><a href="@Url.Content("~/Join")" class="@Html.GetWelcomeTabCssClass(Model, 2)" id="join" data-icon="custom" data-prefetch>
                Join</a></li>
            <li><a href="@Url.Content("~/About")" class="@Html.GetWelcomeTabCssClass(Model, 3)" id="about" data-icon="custom" data-prefetch>
                About</a></li>
        </ul>
    </div>
    -->