@model Mobile_PaidThx.Models.DashboardModels.DashboardModel
@{
    ViewBag.Title = "Home";
    ViewBag.PageID = "dashboard-page";
    ViewBag.Classes = "settings";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div data-role="header" data-id="navpersist" data-position="fixed" class="header-pdthx" >
        <h1><img src="@Url.Content("~/Content/images/logo.png")" /></h1>
       <a href="@Url.Content("~/Preferences")"  class="ui-btn-right" data-role="button" data-theme="f" data-icon="gear" data-iconpos="notext">Settings</a>
       @{Html.RenderPartial("LoggedInMenuTop", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Home" }); }
    </div>
    <div data-role="content">
    <div class="pad">
        <div id="profile-new">
        <div id="myprofile">
         <ul data-role="listview" data-inset="true">
                <li class="settings" id="profile">
                    <!-- Profile -->
                    <a href="@Url.Content("~/Preferences/Profile")" data-prefetch data-transition="slide">
                    <h2 class="heading"> @Model.UserName </h2>
                    <h4 class="subheading">Edit Profile</h4> </a></li>
                    </ul>
   
        <div class="clear"></div>
        </div>
         <ul data-role="listview" data-inset="true">
                <li class="settings" id="incoming">
                    <!-- Incoming -->
                    <a href="@Url.Content("~/Paystream")" data-prefetch data-ajax="false" data-transition="slide">
                                   <h2 class="heading"> Incoming </h2>
                    <h4 class="subheading">New Items Received</h4> </a></li>
                <li class="settings" id="outgoing">
                    <!-- Outgoing -->
                    <a href="@Url.Content("~/Paystream")" data-prefetch data-ajax="false" data-transition="slide">
                                   <h2 class="heading"> Outgoing </h2>
                    <h4 class="subheading">Pending Items Sent</h4></a></li>
            </ul>
        </div>
        
    </div>

        </div>
     @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Home" }); }

</div>
<div>
</div>
