@model Mobile_PaidThx.Models.DashboardModels.DashboardModel
@{
    ViewBag.Title = "Home";
}
<div data-role="page">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
              <img src="@Url.Content("~/Content/images/logo.png")" /></h1>
       <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right"></a>
    </div>
    <div data-role="content" id="home-screen">
    <div class="pad">
        <div id="profile-new">
        <div id="myprofile">
        <div id="profileImage">
        <img width="50" height="50" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" />
        </div>
        <div id="profileInfo">
        <h2 id="hd-username" class="heading">@Model.UserName</h2>
        <h4 id="sb-editProfile" class="subheading"><a href="#">Edit Profile</a></h4>
        </div>
        <div class="clear"></div>
        </div>
         <ul data-role="listview" data-inset="true">
                <li class="settings" id="incoming">
                    <!-- Incoming -->
                    <a href="@Url.Content("~/Paystream")" data-prefetch data-ajax="false" data-transition="slide">
                                   <h2 class="heading"> Incoming </h2>
                    <h4 class="subheading">New Items Received</h4> </a></li>
                <li class="settings" id="outgoing">
                    <!-- Social Networks -->
                    <a href="@Url.Content("~/Paystream")" data-prefetch data-ajax="false" data-transition="slide">
                                   <h2 class="heading"> Outgoing </h2>
                    <h4 class="subheading">Pending Items Sent</h4></a></li>
            </ul>
        </div>
        
    </div>
    <div class="quicksend-container">
        <div id="quicksends">
        <h4 class="qs-header" style="text-align:center;"></h4>
        <div class="qs left one"><a href="#"><img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/btn-qs-phone-63x63.png")" alt="Image" /></a> </div>
        <div class="qs middle one"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/btn-qs-fb-63x63.png")" alt="Image" /></a> </div>
        <div class="qs right one"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/btn-qs-cause-63x63.png")" alt="Image" /></a> </div>
         <div class="qs left two"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
        <div class="qs middle two"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
        <div class="qs right two"> <a href="#"><img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
         <div class="qs left three"> <a href="#"><img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
        <div class="qs middle three"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
        <div class="qs right three"><a href="#"> <img width="63" height="63" class="rounded" src="@Url.Content("~/Content/images/avatar.png")" alt="Image" /></a> </div>
        </div>
        </div>
        </div>
     @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Home" }); }

</div>
<div id="resizerHack">


</div>
<div>
<script type="text/javascript">
    $(document).ready(function () {






        function resizeQS() {

            $(".hackstyle").remove();
            var widthy = $(window).width();
            divwidth = widthy * .90;

            $("#resizerHack").append("<div class=\"hackstyle\"><style>div#quicksends { height:" + divwidth + "px ;}</div>")

        };

        resizeQS();

        $(window).resize(function () {
            resizeQS();
        });
    });
</script>
</div>
