@model Mobile_PaidThx.Models.PaystreamModels.PaystreamDetailModel
@{
    ViewBag.Title = "Item Detail";
    ViewBag.PageID = "paystream-detail";
    ViewBag.Classes = "page full";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div class="header-pdthx">
        <h1>
            Details</h1>
            <a href="@Url.Content("~/Paystream")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    @Html.ValidationSummary()
        <div class="pad">

        
<div class="paystreamDetail @{ if (Model.messageType == "Payment"){<text>payment </text>} if( Model.messageType == "PaymentRequest"){<text>request </text>} if( Model.messageType == "Donation"){<text>donation </text>} if (Model.direction == "Out"){<text>out </text>} if(Model.direction == "In"){<text>in </text>} }">
<div class="whathappened">
<h2 class="psd-type">
    @{
        
    if (Model.messageType == "Payment" && Model.direction == "In"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Payment Received &nbsp;&nbsp;&nbsp; &#8594;</text>
        }else if(Model.messageType == "Payment" && Model.direction == "Out"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Payment Sent &nbsp;&nbsp;&nbsp; &#8594;</text>
       }else if(Model.messageType == "PaymentRequest" && Model.direction == "In"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Request Received &nbsp;&nbsp;&nbsp; &#8594;</text>
       }else if(Model.messageType == "PaymentRequest" && Model.direction == "Out"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Request Sent &nbsp;&nbsp;&nbsp; &#8594;</text>
    }else if(Model.messageType == "Donation" && Model.direction == "Out"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Donation &nbsp;&nbsp;&nbsp; &#8594;</text>
    }else if(Model.messageType == "AcceptPledge" && Model.direction == "In"){
    <text>&#8594; &nbsp;&nbsp;&nbsp; Pledge &nbsp;&nbsp;&nbsp; &#8594;</text>
    }
    }
    </h2>
<div class="whathappened-details">

@{
    if ( Model.messageType == "Payment" && Model.direction == "In"){
        <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.senderImageUri" alt="Sender" /> 
<div class="ps-detail-textpad">
    <p class="whathappened-content">
    <span class="lbl-sender">@Model.senderName</span><br> 
sent you <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
<span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
<img width="40" height="40" class="psd-image recipient" src="@Model.recipientImageUri" alt="Recipient" />
</text>
    }else if( Model.messageType == "Payment" && Model.direction == "Out"){
    <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.senderImageUri" alt="Sender" /> 
    <div class="ps-detail-textpad">
    <p class="whathappened-content">
    <span class="lbl-sender">You</span> sent <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
to <span class="lbl-recipient">@Model.recipientName</span>
<br><span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
    <img width="40" height="40" class="psd-image recipient" src="@Model.recipientImageUri" alt="Recipient" />
    </text>
    }else if( Model.messageType == "PaymentRequest" && Model.direction == "In"){
    <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.senderImageUri" alt="Sender" />
    <div class="ps-detail-textpad"> 
    <p class="whathappened-content">
 <span class="lbl-sender">@Model.senderName</span><br /> 
requested <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
<span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
<img width="40" height="40" class="psd-image recipient" src="@Model.recipientImageUri" alt="Recipient" />
</text>
    }else if( Model.messageType == "PaymentRequest" && Model.direction == "Out"){
    <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.senderImageUri" alt="Sender" /> 
    <div class="ps-detail-textpad">
    <p class="whathappened-content">
   <span class="lbl-sender">You</span> requested <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
from <span class="lbl-recipient">@Model.recipientName</span>
<br /><span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
<img width="40" height="40" class="psd-image recipient" src="@Model.recipientImageUri" alt="Recipient" />
</text>
    }else if( Model.messageType == "Donation" && Model.direction == "Out"){
        <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.senderImageUri" alt="Sender" />
    <div class="ps-detail-textpad">
    <p class="whathappened-content">
   <span class="lbl-sender">You</span> donated <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
to <span class="lbl-recipient">@Model.recipientName</span>
<br><span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
<img width="40" height="40" class="psd-image recipient" src="@Model.recipientImageUri" alt="Recipient" />
    </text>
    }else if( Model.messageType == "AcceptPledge" && Model.direction == "In"){
        <text>
    <img width="40" height="40" class="psd-image sender" src="@Model.recipientImageUri" alt="Sender" />
    <div class="ps-detail-textpad">
    <p class="whathappened-content">
   <span class="lbl-sender">You</span> pledged <span class="lbl-amount">$@string.Format("{0:n2}", Model.amount)</span><br>
to <span class="lbl-recipient">@Model.senderName</span>
<br><span class="lbl-date invisible">@Model.createDate</span>
</p>
<div class="clear"></div>
</div>
<img width="40" height="40" class="psd-image recipient" src="@Model.senderImageUri" alt="Recipient" />
    </text>
    }
    
    }

<div class="clear"></div>
</div>
</div>
@{
    if (Model.comments.ToLower() != "no comments" && Model.comments != "")
    {                                               
 <text><span class="bubble">"@Model.comments"</span></text>
    }
    
    }

<div class="t-panel">
<h2 class="t-panel-heading">Status</h2>
<div class="t-panel-details status">
<span class="lbl-status">@Model.messageStatus</span>
</div>
</div>

    @{
        if (Model.messageType == "Payment" && Model.isExpressable)
        {
            <text>
 <div class="t-panel">
<h2 class="t-panel-heading">Delivery</h2>
<div class="t-panel-details">
<span class="lbl-status">Standard</span> - Payment should arrive in 1-2 business days.
<hr class="divider" />
<div class="d-left">
<h2 class="d-head express">Express It</h2>
<h4 class="d-subhead">Est. Arrival: 06/10/12</h4>
</div>
<div class="clear"></div>

            </div>
            </div>
        </text>
        
        }else if (Model.messageType == "Payment" && !Model.isExpressable)
        {
            <text>
 <div class="t-panel">
<h2 class="t-panel-heading">Delivery</h2>
<div class="t-panel-details">
<span class="lbl-status">Standard</span> - Payment should arrive in 1-2 business days.
            </div>
            </div>
        </text>
        
        }

    }

@{
    if (Model.messageType == "Payment" && Model.isRemindable)
    {
     <text>
     @using(Html.BeginForm("SendReminder", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "SendPaymentReminder") 
     <button type="submit" class="pd-btn blue send-reminder send-reminder-payment" messageId="@Model.Id">
        Send Reminder
     </button>
     }
     </text>
    }
    else if (Model.messageType == "PaymentRequest" && Model.isRemindable)
    {
     <text>
      @using(Html.BeginForm("SendReminder", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "SendPaymentRequestReminder") 
     <button type="submit" class="pd-btn blue send-reminder send-reminder-payment-request" messageId="@Model.Id">
        Send Reminder
     </button>
      }
     </text>
    
    }

    if (Model.messageType == "PaymentRequest" && Model.isAcceptable)
    {
     <text>
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "AcceptRequest") 
     <button type="submit" class="pd-btn green accept accept-payment-request" messageId="@Model.Id" >
        Accept & Pay
     </button>
     }
     </text>
    }
    if (Model.messageType == "PaymentRequest" && Model.isRejectable)
    {

     <text>
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "RejectPledge") 
     <button type="submit" class="pd-btn red reject reject-payment-request" messageId="@Model.Id">
        Reject Request
     </button>
     }
     </text>
    }

    if (Model.messageType == "Payment" && Model.isCancellable)
    {
    <text>
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "CancelPayment") 
     <button type="submit" class="pd-btn red cancel cancel-payment" messageId="@Model.Id">
        Cancel
     </button>
     }
     </text>
    }
    else if (Model.messageType == "PaymentRequest" && Model.isCancellable)
    {

    <text> 
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "CancelRequest") 
    <button type="submit" class="pd-btn red cancel cancel-payment-request" messageId="@Model.Id">
        Cancel
     </button>
     }
     </text>
    
    }
        if (Model.messageType == "AcceptPledge" && Model.isAcceptable)
    {
     <text>
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "AcceptPledge") 
     <button type="submit" class="pd-btn green accept accept-payment-request">
        Complete Donation
     </button>
     }
     </text>
    }
    if (Model.messageType == "AcceptPledge" && Model.isRejectable)
    {

     <text>
     @using(Html.BeginForm("PopupPinSwipe", "Paystream", null, FormMethod.Get)) {
     @Html.Hidden("messageId", @Model.Id) 
     @Html.Hidden("paystreamAction", "RejectPledge") 
     <button type="submit" class="pd-btn red reject reject-payment-request">
        Cancel Pledge
     </button>
     }
     </text>
    }
}
    </div>




        </div>
        </div>
</div>


@section PageScripts{

<script type="text/javascript">
    $(document).ready(function () {
        var date = $("span.lbl-date").text();
        var parsedate = "";
        if (datetimenow.isDST()) {
            parsedate = moment.utc(date).subtract("hours", 1).local().format("MMM D, h:mma YYYY");
        } else {
            parsedate = moment.utc(date).local().format("MMM D, h:mma YYYY");
        }
        $("span.lbl-date").text(parsedate);
        $("span.lbl-date").css("visibility", "visible");
        $("span.lbl-date").show();
        
    });
</script>

}

