@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
@{
    ViewBag.Title = "Paystream";
    ViewBag.PageID = "paystream-index";
    ViewBag.Classes = "page full";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div data-role="header" data-id="navpersist" data-position="fixed" class="header-pdthx"
        >
        <h1>
            Activity</h1>
            
        <a href="@Url.Content("~/Dashboard")"  class="hd-btn-left btn-back">Home</a>
        <a href="#" id="search-control" class="hd-btn-left btn-search"></a>
    </div>
    <div data-role="content">
        <div class="pad">
        <div class="filter-holder">
            <fieldset id="payment-type-group" data-role="controlgroup" class="fullwidth four-items"
                data-type="horizontal" data-grid="c">
                <input type="radio" name="paystream-choice" class="ps-filter input_hidden" id="paystream-all" value="all" checked="checked" />
                <label class="ps-filter-label selected" for="paystream-all">
                    All</label>
                <input type="radio" name="paystream-choice" class="ps-filter input_hidden" id="paystream-sent" value="sent" />
                <label class="ps-filter-label" for="paystream-sent">
                    $ Sent</label>
                <input type="radio" name="paystream-choice" class="ps-filter input_hidden" id="paystream-received" value="received" />
                <label class="ps-filter-label" for="paystream-received">
                    $ Rec.</label>
                <input type="radio" name="paystream-choice" class="ps-filter input_hidden" id="paystream-other" value="other" />
                <label class="ps-filter-label" for="paystream-other">
                    Other</label>
            </fieldset>
            </div>
            <ul id="paystreamList" data-role="listview" data-filter="true" data-filter-placeholder="Search Paystream">
                <li id="paystream-no-results-divider" class="paystream-no-results-item" data-role="list-divider" style="display:none;">No Results Found</li>
                <li id="paystream-no-results" class="paystream-no-results-item" style="display: none;">
                    <img src="@Url.Content("~/Content/images/avatar.png")" />
                    <h2>
                        You haven't sent or received any money.  Get started...</h2>

                 </li>
                <li class="more-results" style="display: none;">
                        <a href="#">+ More Results</a>
                </li>
            </ul>
            <ul>

            </ul>
        </div>
    </div>
    <script id="paystreamHeader" type="text/x-jquery-tmpl">
        <li data-role="list-divider" class="removable">${groupHeading}</li>
    </script>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 4, HeaderText = "Paystream" }); }
    <div id="popup" class="paystream-dialog">
    </div>
    <div id="overlay" class="overlay">
    </div>
</div>

@section PageStyles
{

}
@section PageScripts
{

    @{Html.RenderPartial("PartialViews/PS-Item");}
    @{Html.RenderPartial("PartialViews/PS-Message");}
    @{Html.RenderPartial("PartialViews/PS-Detail");}



<script type="text/javascript">
        $(document).ready(function () {

            $('.ps-filter').addClass('input_hidden');
            $('.ps-filter-label').click(function (event) {
                $(this).addClass('selected').siblings().removeClass('selected');
            });


            webServicesController.init('@System.Configuration.ConfigurationSettings.AppSettings["WebServicesBaseUrl"]')
            $("#@ViewBag.PageID .ui-listview-filter").hide();

            $("#@ViewBag.PageID #search-control").unbind().bind('click', function () {
                $("#@ViewBag.PageID .ui-listview-filter").toggle();
            });

            //$("#paystreamList").listview('option', 'filterCallback', function (text, searchValue, item) {
            //    return text.toString().toLowerCase().indexOf(searchValue) === -1;
            //});

            //cache the list-view element for later use
            var $listview = $(this).find('[data-role="listview"]');

            paystreamController.init('@Model.UserId');
            paystreamController.searchAndDisplayPaystream('all');

            $('.more-results a').die('click').live('click', function () {
                paystreamController.getAndDisplayMoreItems();
            });
            $('#paystream-all').die('change').live('change', function () {

                paystreamController.searchAndDisplayPaystream('all', function () {

                });
            });
            $('#paystream-sent').die('change').live('change', function () {
                paystreamController.searchAndDisplayPaystream('sent', function () {

                });
            });
            $('#paystream-received').die('change').live('change', function () {
                paystreamController.searchAndDisplayPaystream('received', function () {

                });
            });
            $('#paystream-other').die('change').live('change', function () {
                paystreamController.searchAndDisplayPaystream('other', function () {

                });
            });
            $('.paystreamItem').die('click').live('click', function () {
                var messageId = $(this).attr("messageId");

                paystreamController.displayPaystreamDetail(messageId);
            });
            $('.closePaystreamItem').die('click').live('click', function () {
                paystreamController.closeDetailDialog(function () { });
            });
            $('.cancel-payment').die('click').live('click', function () {
                var messageId = $(this).attr("messageId");

                paystreamController.cancelPayment(messageId);
            });
            $('.send-reminder-payment').die('click').live('click', function () {
                alert('sending reminder');
            });
            $('.cancel-payment-request').die('click').live('click', function () {
                var messageId = $(this).attr("messageId");

                paystreamController.cancelRequest(messageId);
            });
            $('.send-reminder-payment-request').die('click').live('click', function () {
                alert('sending reminder');
            });
            $('.accept-payment-request').die('click').live('click', function () {
                var messageId = $(this).attr("messageId");

                paystreamController.acceptRequest(messageId);
            });
            $('.reject-payment-request').die('click').live('click', function () {
                var messageId = $(this).attr("messageId");

                paystreamController.rejectRequest(messageId);
            });
            //delegate event binding since the search widget is added dynamically
            //bind to the `keyup` event so we can check the value of the input after the user types
            $(this).delegate('input[data-type="search"]', 'keyup', function () {

                var searchVal = $(this).delegate('input[data-type="search"]').val();

                //check to see if there are any visible list-items that are not the `#no-results` element
                if ($listview.children('.paystreamLi:visible').length === 0) {
                    paystreamController.showNoResults(searchVal);
                    paystreamController.hideMoreResults();
                } else {
                    //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                    paystreamController.hideNoResults(searchVal);
                    paystreamController.showMoreResults();
                }
            });

        });
    </script>
   }