@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
@{
    ViewBag.Title = "Paystream";
    ViewBag.PageId = "paystream-index";
}
<script src="@Url.Content("~/Scripts/paystream.js")" type="text/javascript"></script>
<div data-role="page" id="paystream-index" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Paystream</h1>
        <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right">
        </a>
    </div>
    <div data-role="content">
        <fieldset id="payment-type-group" data-role="controlgroup" class="fullwidth four-items"
            data-type="horizontal" data-grid="c">
            <input type="radio" name="paystream-choice" id="paystream-all" value="all" checked="checked"
                style="width: 25%" />
            <label for="paystream-all">
                All</label>
            <input type="radio" name="paystream-choice" id="paystream-sent" value="sent" />
            <label for="paystream-sent">
                $ Sent</label>
            <input type="radio" name="paystream-choice" id="paystream-received" value="received" />
            <label for="paystream-received">
                $ Rec.</label>
            <input type="radio" name="paystream-choice" id="paystream-other" value="other" />
            <label for="paystream-other">
                Other</label>
        </fieldset>
        <ul id="paystreamList" data-role="listview" data-filter="true" data-filter-placeholder="Type Name of Non Profit">
            <li id="no-results">
                    <a id="new-recipient-uri" class="send-recipient-uri" recipient-type="new" recipient-uri="">
                        <img src="@Url.Content("~/Content/images/avatar.png")" />
                        <span id="results-header">
                        No results found
                        </span>
                        <br />
                        <span id="results-description">
                        Continue type or check entry
                       </span>
                   </a>
                    </li>
        </ul>
        <ul id="pagingList" data-role="listview" style="display: none;">
        
<li>
    <div id="more-results">More Results</div>
</li>
        </ul>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 4, HeaderText = "Paystream" }); }
<script id="paystreamHeader" type="text/x-jquery-tmpl">
    <li data-role="list-divider">${groupHeading}</li>
</script>
<script id="paystreamItem" type="text/x-jquery-tmpl">
    <li>
        <a href="#" class="paystreamItem" messageId="${Id}">
        <span class="trans-type">
        {{if transactionImageUri}}
            <img width="50" height="50" class="rounded" src="${transactionImageUri}" alt="Image" />
        {{else}}
            <img width="50" height="50" class="rounded" src="/mobile/Content/images/avatar.png" alt="Image" />
        {{/if}}
        </span>
        <div class="trans-title">
        {{if direction == "In"}}
            <strong>${senderName}</strong>
        {{/if}}
        {{if direction == "Out"}}
            <strong>${recipientName}</strong>
        {{/if}}
            <div class="title-pay-in">
            {{if direction == "In"}}
                {{if messageType == "PaymentRequest"}}
                ${senderName} requests money from you
                {{else messageType == "Payment"}}
                You received money
                {{else messageType == "Donation"}}
                ${senderName} made a donation
                {{else messageType == "Pledge"}}
                You pledged a donation
                {{/if}}
            {{else direction == "Out"}}
                {{if messageType == "PaymentRequest"}}
                Your request money
                {{else messageType == "Payment"}}
                You sent money
                {{else messageType == "Donation"}}
                You donated money
                {{else messageType == "Pledge"}}
                You sent a pledge to ${recipientName}
                {{/if}}
            {{/if}}
            </div>
        <div class="trans-comment">
            <text>"${comments}"</text>
        </div>
        </div>
        <span class="trans-amount">
            <div class="gray-above">${createDate}</div>
            <div class="paystream-pay-in">
                $${amount.toFixed(2)}
            </div>
            <div class="gray-out">
                ${messageStatus}
            </div>
        </span>
        </a>
     </li>
</script>
<script id="messageTemplate" type="text/html">
        <li class="receive pending ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a" data-theme="c">

            <div class="ui-btn-inner ui-li">

                <div class="ui-btn-text">
                    <a class="closePaystreamItem ui-link-inherit" messageId="${Id}">

                        <span class="trans-type">

                        <img src="/Content/images/noavatar.png" alt="Picture"/>
                        </span>

                            <div class="trans-title">

                            {{if direction == "In" }}
                            <strong>${senderName}</strong>

                            {{else}}
                            <strong>${recipientName}</strong>

                            {{/if}}
                            

                            {{if messageType == "Payment" && direction == "In"}}

                            <div class="title-pay-in">Sent money to you</div>
                            {{/if}}

                            {{if messageType == "Payment" && direction == "Out"}}

                            <div class="title-pay-out">You sent money to them</div>
                            {{/if}}

                            {{if messageType == "PaymentRequest" && direction == "In"}}

                            <div class="title-request-in">Requested money from you</div>
                            {{/if}}

                            {{if messageType == "PaymentRequest" && direction == "Out"}}

                            <div class="title-request-out">You requested money from them</div>
                            {{/if}}

                            <div class="trans-comment">${comments}</div>

                        </div>
                        <span class="trans-amount">

                            <div class="gray-above">${formatDate(createDate)}</div>


                            {{if messageType == "Payment" && direction == "In"}}
                            <div class="paystream-pay-in">${formatAmount(Amount)}</div>

                            {{/if}}
                            {{if messageType == "Payment" && direction == "Out"}}

                            <div class="paystream-pay-out">${formatAmount(Amount)}</div>

                            {{/if}}
                            {{if messageType == "PaymentRequest" && direction == "In"}}

                            <div class="paystream-request-in">${formatAmount(Amount)}</div>

                            {{/if}}
                            {{if messageType == "PaymentRequest" && direction == "Out"}}

                            <div class="paystream-request-out">${formatAmount(amount)}</div>

                            {{/if}}

                            <div class=gray-out>${messageStatus}</div>

                        </span>

                    </a>
                </div>

                <span class="ui-icon ui-icon-arrow-r ui-icon-shadow"></span>

            </div>
        </li>

    </script>
    <script id="detailTemplate" type="text/html">

    <a onclick="closeOffersDialog('popup');" class="paystream-dialog-closebtn"></a>
    <div class="paystream-dialog-title-bg">

    {{if messageType == "Payment" && direction == "In"}}
    $ Received
    {{/if}}
    {{if messageType == "Payment" && direction == "Out"}}

    $ Sent
    
    {{/if}}
    {{if messageType == "PaymentRequest" && direction == "In"}}

    Request Received{{/if}}
    {{if messageType == "PaymentRequest" && direction == "Out"}}

    Request Sent{{/if}}    
    </div>

    {{if messageType == "Payment" && direction == "Out"}}
    <p>
     <button type="button" class="btn-jq cancel-payment" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Cancel Payment
     </button>
    </p>
    {{/if}}
    {{if messageType == "Payment" && direction == "Out"}}
    <p>
     <button type="button" class="btn-jq send-reminder-payment" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Send Reminder
     </button>
    </p>
    {{/if}}
    {{if messageType == "PaymentRequest" && direction == "Out"}}
    <p>
     <button type="button" class="btn-jq cancel-payment-request" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Cancel Request
     </button>
    </p>
    {{/if}}
    {{if messageType == "PaymentRequest" && direction == "Out"}}
    <p>
     <button type="button" class="btn-jq send-reminder-payment-request" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Send Reminder
     </button>
    </p>
    {{/if}}
    {{if messageType == "PaymentRequest" && direction == "In"}}
    <p>
     <button type="button" class="btn-jq accept-payment-request" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Accept & Pay
     </button>
    </p>
    {{/if}}
    {{if messageType == "PaymentRequest" && direction == "In"}}
    <p>
     <button type="button" class="btn-jq reject-payment-request" messageId="${Id}" data-theme="f" data-icon="check" data-iconpos="right">
        Reject Request
     </button>
    </p>
    {{/if}}
    </script>

<script type="text/javascript">
    $("#paystream-index").unbind('pageshow').bind('pageshow', function () {

        $("#paystreamList").listview('option', 'filterCallback', function (text, searchValue, item) {
            return text.toString().toLowerCase().indexOf(searchValue) === -1;
        });

        //cache the list-view element for later use
        var $listview = $(this).find('[data-role="listview"]');

        paystreamController.init('@Model.UserId');
        paystreamController.searchAndDisplayPaystream('all');

        $('#more-results').die('click').live('click', function () {
            paystreamController.getAndDisplayMoreItems();
        });
        $('#paystream-all').die('change').live('change', function () {
            paystreamController.searchAndDisplayPaystream('all', function () {
                if ($listview.children(':visible').not('#no-results').length === 0) {

                    //if none are found then fadeIn the `#no-results` element
                    $('#no-results').fadeIn(500);
                } else {

                    //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                    $('#no-results').fadeOut(250);
                }
            });
        });
        $('#paystream-sent').die('change').live('change', function () {
            paystreamController.searchAndDisplayPaystream('sent', function () {
                if ($listview.children(':visible').not('#no-results').length === 0) {

                    //if none are found then fadeIn the `#no-results` element
                    $('#no-results').fadeIn(500);
                } else {

                    //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                    $('#no-results').fadeOut(250);
                }
            });
        });
        $('#paystream-received').die('change').live('change', function () {
            paystreamController.searchAndDisplayPaystream('received', function () {
                if ($listview.children(':visible').not('#no-results').length === 0) {

                    //if none are found then fadeIn the `#no-results` element
                    $('#no-results').fadeIn(500);
                } else {

                    //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                    $('#no-results').fadeOut(250);
                }
            });
        });
        $('#paystream-other').die('change').live('change', function () {
            paystreamController.searchAndDisplayPaystream('requests', function () {
                if ($listview.children(':visible').not('#no-results').length === 0) {

                    //if none are found then fadeIn the `#no-results` element
                    $('#no-results').fadeIn(500);
                } else {

                    //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                    $('#no-results').fadeOut(250);
                }
            });
        });
        $('.paystreamItem').die('click').live('click', function () {
            var messageId = $(this).attr("messageId");

            paystreamController.displayPaystreamDetail(messageId);
        });
        $('.closePaystreamItem').die('click').live('click', function () {
            paystreamController.closeDetailDialog(function() {});
        });
        $('.cancel-payment').die('click').live('click', function () {
            var messageId = $(this).attr("messageId");

            paystreamController.cancelPayment(messageId);
        });
        $('.send-reminder-payment').die('click').live('click', function () {
            alert('sending reminder');
        });
        $('.cancel-payment-request').die('click').live('click', function () {
            var messageId = $(this).attr("messageId");

            paystreamController.cancelRequest(messageId);
        });
        $('.send-reminder-payment-request').die('click').live('click', function () {
            alert('sending reminder');
        });
        $('.accept-payment-request').die('click').live('click', function () {
            var messageId = $(this).attr("messageId");

            paystreamController.acceptRequest(messageId);
        });
        $('.reject-payment-request').die('click').live('click', function () {
            var messageId = $(this).attr("messageId");

            paystreamController.rejectRequest(messageId);
        });
        //delegate event binding since the search widget is added dynamically
        //bind to the `keyup` event so we can check the value of the input after the user types
        $(this).delegate('input[data-type="search"]', 'keyup', function () {

            var searchVal = $(this).delegate('input[data-type="search"]').val();

            //check to see if there are any visible list-items that are not the `#no-results` element
            if ($listview.children(':visible').not('#no-results').length === 0) {

                //if none are found then fadeIn the `#no-results` element
                $('#no-results').show();
                $('#no-results').fadeIn(500);

            } else {

                //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                $('#no-results').fadeOut(250);
            }
        });

    });
    </script>
    <div id="popup" class="paystream-dialog">
    
</div>

<div id="overlay" class="overlay">
</div>
</div>