@model Mobile_PaidThx.Models.PaystreamModels.PinSwipeRequestModel
@{
    ViewBag.Title = "Confirm";
    ViewBag.PageID = "paystream-confirm";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    
    <div  class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/Paystream")"  class="hd-btn-left btn-back history">Back</a>
    </div>
  
    <div class="pd-content">
        <div class="top-panel" id="swipe-to-confirm">
        @if (Model.PaystreamAction == "CancelPayment")
        {
            if (!String.IsNullOrEmpty(Model.Message.recipientImageUri))
            {
            <text><img src="@Model.Message.recipientImageUri" alt="@Model.Message.recipientName" width="50" height="50" class="ps-image" style="margin-right:12px;" /></text>
            }
            if (!String.IsNullOrEmpty(Model.Message.recipientName))
            {
            <text>Please swipe your security pin to <b class="red">cancel</b> your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.recipientName</b>.</text>
            }
            else
            {
            <text>Please swipe your security pin to <b class="red">cancel</b> your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.recipientUri</b>.</text>
            }

        }
        @if (Model.PaystreamAction == "CancelRequest")
        {

            if (!String.IsNullOrEmpty(Model.Message.recipientImageUri))
            {
            <text><img src="@Model.Message.recipientImageUri" alt="@Model.Message.recipientName" width="50" height="50" class="ps-image" style="margin-right:12px;" /></text>
            }
            if (!String.IsNullOrEmpty(Model.Message.recipientName))
            {
            <text>Please swipe your security pin to <b class="red">cancel</b> your request of <span class="lbl-amount request out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.recipientName</b>.</text>
            }
            else
            {
            <text>Please swipe your security pin to <b class="red">cancel</b> your request of <span class="lbl-amount request out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.recipientUri</b>.</text>
            }
        }
        @if (Model.PaystreamAction == "AcceptRequest")
        {

            if (!String.IsNullOrEmpty(Model.Message.senderImageUri))
            {
            <text><img src="@Model.Message.senderImageUri" alt="@Model.Message.senderName" width="50" height="50" class="ps-image" style="margin-right:12px;" /></text>
            }
            if (!String.IsNullOrEmpty(Model.Message.senderName))
            {
            <text>Please swipe your security pin to confirm your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.senderName</b>.</text>
            }
            else
            {
             <text>Please swipe your security pin to confirm your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> to <b>@Model.Message.senderUri</b>.</text>
            }
        }
        @if (Model.PaystreamAction == "RejectRequest")
        {
            <text>@String.Format("Swipe your security PIN to reject the request of {0:C} from {1}.", Model.Message.amount, Model.Message.recipientName)</text>
            
            if (!String.IsNullOrEmpty(Model.Message.senderImageUri))
            {
            <text><img src="@Model.Message.senderImageUri" alt="@Model.Message.senderName" width="50" height="50" class="ps-image" style="margin-right:12px;" /></text>
            }
            if (!String.IsNullOrEmpty(Model.Message.senderName))
            {
            <text>Please swipe your security pin to <b class="red">reject</b> the request of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> from <b>@Model.Message.senderName</b>.</text>
            }
            else
            {
             <text>Please swipe your security pin to <b class="red">reject</b> the request of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Message.amount)</b></span> from <b>@Model.Message.senderUri</b>.</text>
            }
        }
        <div class="clear"></div>
        </div>
        @Html.ValidationSummary()
    <div class="pad">
       
        @using (Html.BeginForm("PopupPinswipe", "Paystream", FormMethod.Post, new Dictionary<string, object> { { "id", "pinSwipeForm" }, { "data-transition", "slide-up" } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
      
</div>
</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}