@{
    ViewBag.Title = "Welcome to PaidThx";
    ViewBag.PageID = "page-welcome";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
    <div class="pd-content">
        <div class="pad">
        <div class="logo-holder">
               <img alt="PaidThx Logo" class="grow" src="@Url.Content("~/Content/images/logo-welcome.png")" /></div>
               <div style="margin-bottom: 20px">
            </div>
            <a id="join" class="pd-btn blue" data-role="button" data-theme="b" data-icon="arrow-r" data-iconpos="right" href="@Url.Content("~/Join")">
                Join (It's Free!)</a>
            <div style="margin-bottom: 20px">
            </div>
            <a id="signin" data-role="button" data-theme="f" data-icon="arrow-r" data-iconpos="right" class="pd-btn green" href="@Url.Content("~/SignIn")">
                Sign In</a>
        </div>
        <br />
    </div>

<div class="footer-pdthx"> 
<h4>Learn About PaidThx <a title="Learn More" href="@Url.Content("~/About")">Here</a></h4> 
</div> 
</div>

@section PageScripts{
<script type="text/javascript">
 $(document).ready(function() {

});
</script>
}