@model Mobile_PaidThx.Models.SetupACHAccountModel
@Html.ValidationSummary()
@if (Model.Payment != null)
{
    <text>
    <p>
        You have <b>@String.Format("{0:C}", Model.Payment.Amount)</b> in pending payments.
        To enable sending and receiving of payments thru PaidThx, please enter your preferred
        bank credentials.</p>
    </text>
}
<div class="top-panel">
    Link a new bank account by entering the routing number and account number of the
    account below.
</div>
<div id="setup-ach-account-form">
    @using (Html.BeginForm())
    {
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(m => m.NameOnAccount)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.NameOnAccount)
            @Html.ValidationMessageFor(m => m.NameOnAccount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.RoutingNumber)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.RoutingNumber)
            @Html.ValidationMessageFor(m => m.RoutingNumber)
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.AccountNumber)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.AccountNumber)
            @Html.ValidationMessageFor(m => m.AccountNumber)
        </div>
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup" data-type="horizontal">
                <input type="radio" name="AccountType" id="radio-choice-1" value="Checking" />
                <label for="radio-choice-1">
                    Checking</label>
                <input type="radio" name="AccountType" id="radio-choice-2" value="Savings" checked="checked" />
                <label for="radio-choice-2">
                    Savings</label>
            </fieldset>
        </div>
        <p style="margin-top: 15px">
            <button type="submit" id="button-submit-ach" class="imgbtn">
                <img src="@Url.Content("~/Content/images/enable-payments-button-icon.png")" alt="" /><span>Enable
                    Payments</span></button>
        </p>
    </fieldset>
    }
</div>
