@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "dogood-page";
    ViewBag.Classes = "page ";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >

    <div data-role="header" data-id="navpersist" data-position="fixed" class="header-pdthx" >
        <h1>Do Good</h1>
       <a href="@Url.Content("~/Preferences")"  class="ui-btn-right" data-role="button" data-theme="f" data-icon="gear" data-iconpos="notext">Settings</a>
    </div>
  
    <div data-role="content">
        <div class="pad">
            <p class="instructions">Make a donation or
                gift to a non-profit organization. As always, 100% of your generosity goes to the
                organization.</p> 
                <a href="@Url.Content("~/Donate")" data-prefetch data-transaction="slide">
                    <button type="button" class="pd-btn maroon">
                       Give to a Cause
                       </button></a>
       
        

            <p class="instructions pledge">Accept pledges and
                charitable donations on behalf of your organization wherever you may be with just
                an e-mail or phone #.</p> <a href="@Url.Content("~/Pledge")"  data-prefetch data-transaction="slide">
                    <button type="button" class="pd-btn blue">
                        Accept a Pledge</button></a>

     </div>
    </div>
</div>
