@model Mobile_PaidThx.Models.DonateMoneyModel
<div data-role="page" id="dogood-page">
  @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Accept Pledge</h1>
       <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right"></a>
    </div>
    <div data-role="content">
        <div style="font-size: 16px; text-align: center; padding: 15px; font-weight: bold">
            Pledge $</div>
        <div style="height: 1px; width: 100%; background: #666666">
        </div>
        <div style="margin: 10px">
            <a onclick="toAddPledgeOrg()" data-prefetch>
                <button type="button" class="imgbtn field-btn">
                    <span class="imgbg" style="padding-left: 0px; width: 55px; margin-left: -2px">
                        <img style="margin-left:-8px; margin-top:-3px" src="@Url.Content("~/Content/images/icon-settings-orgs-40x40.png")" alt="" /></span><span
                            id="organization-name">@if (Model.Organization != null && !Model.Organization.Equals("null"))
                                                   {
                                <span id="org-name-pledge">@Model.Organization</span>
                                                   }
                                                   else
                                                   {
                                <text>Your Cause's Name</text>
                                                   }</span>
                </button>
            </a><a onclick="toWhomPledgeScreen()" data-prefetch>
                <button type="button" class="imgbtn field-btn">
                    <span class="imgbg" style="padding-left: 0px; width: 50px; margin-left: -2px">
                        <img src="@Url.Content("~/Content/images/icon-person.png")" alt="" /></span><span
                            id="person-send">@if (Model.PledgerUri != null && !Model.PledgerUri.Equals("null"))
                                             {
                                <span id="onBehalfOf">@Model.PledgerUri</span>
                                             }
                                             else
                                             {
                                <text>Select A Donor</text>
                                             }</span>
                </button>
            </a><a onclick="toPledgeAmountScreen()">
                <button type="button" class="imgbtn field-btn">
                    <span class="imgbg" style="margin-left: -2px">
                        <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                            id="amount-request">@if (Model.Amount > 0)
                                                {
                                <text>@string.Format("{0:C}", Model.Amount)</text>
                                                }
                                                else
                                                {
                                <text>How much?</text>
                                                }</span></button></a>
        </div>
        <div style="margin-left: 10px; margin-right: 10px; margin-top: 20px">
            <label for="txtComments-Pledge" style="margin-bottom: 15px; font-size: 18px">
                Dedicate to Someone?</label>
            <textarea id="txtComments-Pledge" rows="10" cols="100" placeholder="Enter notes, comments, etc"
                required></textarea>
        </div>
        <input type="hidden" id="theOrgId-Pledge" value="@Model.OrganizationId" />
        <input type="hidden" id="amountToPledge" value="@Model.Amount" />
        <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
            <a href="" data-prefetch>
                <button type="button" class="imgbtn field-btn" id="pledgeMoneyBtn">
                    <span id="amount-request">Send Pledge</span></button></a>
        </div>
    </div>
</div>
