@model Mobile_PaidThx.Models.AddPaymentAccountModel

@{
    ViewBag.Title = "Add Payment Account";
}

<div id="accounts-add"  class="panel main-body dialog">
    <span id="add-close" class="dialog-close"></span>
    @Html.ValidationSummary()
    <h2>
        Add Account</h2>
    <form id="frmAddAccount" action="@Url.Content("PaymentAccount/Add")" method = "post">
    <p>
        <input type="text" id="txtNickname" name="Nickname" placeholder="Create an Account Nickname"
            required value="@Model.Nickname" /></p>
    <p>
        <input type="text" id="txtNameOnAccount" name="NameOnAccount" placeholder=" Name on the Account"
            required value="@Model.NameOnAccount" /></p>
    <p>
        <input type="text" id="txtRoutingNumber" name="RoutingNumber" placeholder="Routing Number"
            required value="@Model.RoutingNumber" /></p>
    <p>
        <input type="text" id="txtAccountNumber" name="AccountNumber" placeholder="Account Number"
            required value="@Model.AccountNumber" /></p>
    <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-type="horizontal">
            <input type="radio" name="AccountType" id="radio-choice-1" value="Checking" />
            <label for="radio-choice-1">
                Checking</label>
            <input type="radio" name="AccountType" id="radio-choice-2" value="Savings" checked="checked" />
            <label for="radio-choice-2">
                Savings</label>
        </fieldset>
    </div>
          
    </div> <p>
        <button type="button" id="add-account-submit" class="imgbtn">
            <img src="@Url.Content("~/Content/images/add-icon.png")" alt="" /><span>Add
                Account</span></button></p>
    </form>
</div>

