@model Mobile_PaidThx.Models.ListPaymentAccountModel
@{
    ViewBag.Title = "Accounts";
}

<script src="@Url.Content("~/Scripts/paymentaccount.js")" type="text/javascript"></script>
<div id="accounts-content">
    <div id="header-wrapper" class="clearfix" style="position: relative; vertical-align: text-bottom">
        <div id="page-title" style="position: absolute; bottom: 4px; right: 0;">
            Accounts
        </div>
    </div>
    <div id="accounts-list" class="panel main-body">
        @Html.ValidationSummary()
        <h2>
            Your Linked Accounts</h2>
        <ul id="transactionsListRequests" data-role="listview" class="transactions" style="margin-bottom: 15px">
            @foreach (var bankAccount in Model.PaymentAccounts)
            {             
                <li class="">
                    <a href="#" data-val="@bankAccount.PaymentAccountId" class="edit-payment-account">
                    <div class="bank-icon">
                        <img src="@bankAccount.BankIconURL" alt="@bankAccount.BankName" />
                    </div>
                   
                    <div class="bank-info">
                        <strong>@bankAccount.Nickname</strong> -<p></p> @bankAccount.AccountType - @bankAccount.AccountNumber
                    </div>
                    </a>
                 </li>
            }
             
            <h2>Sending Account</h2>
            @Html.DropDownList("PreferredSendAccount", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredSendAccountId), new { @id = "ddlPreferredSendAccount" });

            
            <h2>Receiving Account</h2>
            @Html.DropDownList("PreferredReceiveAccount", new SelectList(Model.PaymentAccounts, "PaymentAccountId", "Nickname", Model.PreferredReceiveAccountId), new { @id = "ddlPreferredReceiveAccount" });
        </ul>

        <p>
        <button type="submit" id="add-account" class="imgbtn">
            <img src="@Url.Content("~/Content/images/add-icon.png")" alt="" /><span>Add
                an Account</span></button></p>

    </div>
</div>


