@model Mobile_PaidThx.Models.NotificationModels.NotificationModel
@{
    ViewBag.Title = "Notifications";
    ViewBag.PageID = "notifications-page";
    ViewBag.Classes = "page page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"   >
    
    <div data-role="header" data-position="fixed" class="header-pdthx"  >
        <h1>
            Notifications</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div data-role="content">
    <div class="pad">
        @foreach (var subject in Model.NotificationSubjects)
        {
            <h2 class="section-header">@subject.Description</h2>
            <ul class="panel-container">
            @foreach (var item in subject.NotificationItems)
            {
                <text>
            <li class="toggler settings">
                
                <label for="@item.ConfigurationKey" class="toggle-name">@item.Description</label>
                <div class="toggle-holder">
                <input type="checkbox" class="switch-cb" name="@item.ConfigurationKey" id="@item.ConfigurationKey" @if (item.SelectedValue != "0")
                                                                                                                {<text> checked="checked"</text>}  />
                
                                                                                                                                                                                       
</div>
                <div class="clear"></div>
                </li>
                </text>
           
            }
            </ul>
        }
    </div>
    </div>
</div>



@section PageStyles{

}
@section PageScripts{
<script type="text/javascript">
    $(document).ready(function () {
        // Iterate over checkboxes
        $("input[type=checkbox].switch-cb").each(function () {
            // Insert mark-up for switch
            $(this).before(
      '<span class="switch">' +
      '<span class="mask" /><span class="background" />' +
      '</span>'
    );
            // Hide checkbox
            $(this).hide();

            // Set inital state
            if (!$(this).prop('checked')) {
                $(this).prev().find(".background").css({ left: "-56px" });
            }
        }); // End each()

        // Toggle switch when clicked
        $("span.switch").click(function (event) {
            // Define vars
            var key, value;

            key = $(this).attr('id');

            // If on, slide switch off
            if ($(this).parent().find(".switch-cb").prop('checked')) {
                $(this).find(".background").animate({ left: "-56px" }, 200);
                $(this).parent().find(".switch-cb").attr('checked', false);
                value = "off";
            } else {
                $(this).find(".background").animate({ left: "0px" }, 200);
                $(this).parent().find(".switch-cb").attr('checked', true);
                value = "on";
            }

            var requestModel = {
                Key: key,
                Value: value
            };

            var getBaseURL = function () {
                return location.protocol + "//" + location.hostname + (location.port && ":" + location.port) + "/mobile/";
            }
            var jsonData = $.toJSON(requestModel);
            var serviceUrl = getBaseURL() + 'Notifications/Index';

            $.ajax({
                type: 'POST',
                url: serviceUrl,
                data: jsonData,
                contentType: "application/json",
                dataType: "json",
                processData: false
            });

        });

    });     // End 
</script>
}