@using SocialPayments.UI.Controls
@model PagedList.IPagedList<SocialPayments.Web.Admin.Models.PaymentFileModel>

@{
    ViewBag.Title = "Payment Files";
}

<h2>Payment Files</h2>
<table>
    <tr>
        <th>
            ID
        </th>
        <th>
            Opened
        </th>
        <th>
            Closed
        </th>
        <th>
            Number Of Deposits
        </th>
        <th>
            Number Of Withdrawls
        </th>
        <th>
            Total Deposit Amount
        </th>
        <th>
            Total Withdrawl Amount
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDeposits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfWithdrawls)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDepositAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWithdrawlAmount)
        </td>
    </tr>
}

</table>
<div> 
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) 
    of @Model.PageCount 
      
    @if (Model.HasPreviousPage) 
    { 
        @Html.ActionLink("<<", "Index", new { pageIndex = 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
        @Html.Raw(" "); 
        @Html.ActionLink("< Prev", "Index", new { pageIndex = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
    } 
    else 
    { 
        @:<< 
        @Html.Raw(" "); 
        @:< Prev 
    } 
      
    @if (Model.HasNextPage) 
    { 
        @Html.ActionLink("Next >", "Index", new { pageIndex = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
        @Html.Raw(" "); 
        @Html.ActionLink(">>", "Index", new { pageIndex = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter  }) 
    } 
    else 
    { 
        @:Next > 
        @Html.Raw(" ") 
        @:>> 
    } 
</div>
