@{
    ViewBag.Title = "Confirm PIN";
    ViewBag.PageID = "confirm-pin-swipe-setup";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >

<div  id="@ViewBag.PageID" class="modally" >
     <div class="header-pdthx" >
	    <h1>Confirm PIN</h1>
    </div>
     <div class="pd-content">
     <div class="top-panel">
   
    <p>Swipe your security pin again below to confirm.</p>
    
    </div>
    @Html.ValidationSummary();
     <div class="pad">
         @using (Html.BeginForm("ConfirmPinSwipe", "Register", FormMethod.Post, new Dictionary<string, object>{{ "id", "pinSwipeForm"}, { "data-transition", "slideup" }}))
        {
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    

    </div>
    
        
    </div>
</div>

@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
