@model Mobile_PaidThx.Models.PersonalizeModel
@{
    ViewBag.Title = "Personalize";
}

<div data-role="page" id="personalize-page">
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
	    <h1>Personalize</h1>
    </div>
    <div data-role="content">   
     @Html.ValidationSummary(true, "Personalize was unsuccessful. Please correct the errors and try again.")
    
    <h5>Confirm your profile information</h5>
    <p>Keeping your profile up to date will make it easier for you to use PaidThx with others in your network.</p>
        @using(Html.BeginForm("Personalize", "Register", FormMethod.Post, new Dictionary<string, object>{{ "data-transition", "slide" }} ))
        {
            <div>
                <fieldset>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.FirstName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.FirstName)
                        @Html.ValidationMessageFor(m => m.FirstName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(m => m.LastName)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.LastName)
                        @Html.ValidationMessageFor(m => m.LastName)
                    </div>

                    <p>
                         <button type="submit" id="register-submit" class="imgbtn">
                <img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>Save & Continue</span></button>
                    </p>
                </fieldset>
            </div>
        }
    </div>
</div>