@{
    ViewBag.Title = "Link Bank Account";
    ViewBag.PageID = "setup-pin-swipe";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
     <div class="header-pdthx" >
	    <h1>Create PIN</h1>
    </div>
    <div class="pd-content">
        <div class="top-panel">
        @if(!String.IsNullOrEmpty(TempData["Message"].ToString()))
        {
            <p class="error">@TempData["Message"]</p>
           }else{
    <text> <p>Create a security pin by swiping your finger to connect at least 4 pins below.</p></text>
        }
</div>
    @Html.ValidationSummary()
    <div class="pad">

        @using (Html.BeginForm("SetupPinSwipe", "Register", FormMethod.Post, new Dictionary<string, object>{{ "id", "pinSwipeForm"}, { "data-transition", "slideup" }}))
        {
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
        </div>
        </div>
</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}