@model Mobile_PaidThx.Models.RequestMoneyModel

<div id="main-body-request" class="panel" style="margin-left: -11px; margin-right: -11px">
    <form id="frmRequestMoney" action="@Url.Content("~/Profile/RequestMoney")" method="post">
    <p>
        <label for="txtSendTo" style="font-size: 16px">
            Request To:</label>
        <a href="./Request/AddContactRequest" data-prefetch>
            <button type="button" class="imgbtn field-btn">
                <span class="imgbg" style="padding-left: 0px; width: 50px; margin-left: -2px">
                    <img src="@Url.Content("~/Content/images/icon-person.png")" alt="" /></span><span
                        id="person-send">@if (Model.RecipientUri != null && !Model.RecipientUri.Equals("null"))
                                         {
                            <text>@Model.RecipientUri</text>
                                         }
                                         else
                                         {
                            <text>Choose a recipient</text>
                                         }</span>
            </button>
        </a>
    </p>
    <p>
        <label for="clickamountbtn" style="font-size: 16px">
            Request Amount:</label>
        <a href="./Request/AmountToRequest" data-prefetch>
            <button type="button" class="imgbtn field-btn">
                <span class="imgbg" style="margin-left: -2px">
                    <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                        id="amount-request">@if (Model.Amount > 0)
                                            {
                            <text>@string.Format("{0:C}", Model.Amount)</text>
                                            }
                                            else
                                            {
                            <text>Choose Amount</text>
                                            }</span></button></a>
        <!--<div onclick="chooseAmountRequest()" class="clickamountbtn">
            <span id="amount-request">Select amount</span></div>-->
    </p>
    <p>
        <label for="txtComments" style="margin-bottom: 15px">
            Notes/Messages:</label>
        <textarea name="Comments" id="txtComments" rows="10" cols="100" placeholder="Enter notes, comments, etc"
            required></textarea>
    </p>
    <p>
        <button type="submit" id="btnRequestMoney" class="imgbtn">
            <img src="@Url.Content("~/Content/images/request-money-button-icon.png")" alt="" /><span>Request
                Money Now</span></button>
    </p>
    </form>
</div>
