@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="preferences-page">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Settings</h1>
        <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
            <!-- Edit Profile -->
            <ul data-role="listview" data-inset="true">
                <li><a href="@Url.Content("~/Preferences/Profile")" data-prefetch data-ajax="false" data-transition="slide">
                <img src="@Url.Content("~/content/images/icon-settings-profile-40x40.png")" />
                    Edit Profile
                    <br/ />
                    <span style="font-style: normal; font-size: 15px;">Increase your spending limit</span> </a></li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li>
                    <!-- Bank Account -->
                   <a href="@Url.Content("~/BankAccounts")" data-prefetch data-ajax="false" data-transition="slide">
                   <img src="@Url.Content("~/content/images/icon-settings-bank-40x40.png")" />
                     Bank Accounts
                     <br />
                     <span style="font-style: normal; font-size: 15px;">Add or manage linked bank accounts</span></a></li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li>
                    <!-- Separate Set -->
                    <!-- Email Accounts -->
                    <a href="@Url.Content("~/Emails")" data-prefetch data-ajax="false" data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-email-40x40.png")" />
                    Email Accounts
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Add or manage linked email Accounts</span> </a></li>
                <li>
                    <!-- Social Networks -->
                    <a href="@Url.Content("~/Preferences/SocialNetworks")" data-prefetch data-ajax="false" data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-social-40x40.png")" />
                    Social Networks 
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Add or manage linked social network accounts</span></a></li>
                <li>
                    <!-- Phones -->
                    <a href="@Url.Content("~/Phones")" data-prefetch data-ajax="false" data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-phones-40x40.png")" />
                    Phones
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Add or manage linked phone number</span></a></li>
                <!--ME Codes -->
                <li><a href="@Url.Content("~/MeCodes")" data-prefetch data-ajax="false" data-transition="slide">
                <img src="@Url.Content("~/content/images/icon-settings-mecode-40x40.png")" />
                    Me Codes
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Add or manage linked MeCodes</span> </a></li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li>
                    <a href="@Url.Content("~/Preferences/Notifications")" data-prefetch data-ajax="false" data-transition="slide">
                        <img src="@Url.Content("~/content/images/icon-settings-preferences-40x40.png")" />
                        Notifications
                        <br />
                        <span style="font-style: normal; font-size: 15px;">How and when we update you</span>
                    </a> </li>
                <li>
                    <a href="@Url.Content("~/Preferences/Sharing")" data-prefetch data-ajax="false" data-transition="slide">
                        <img src="@Url.Content("~/content/images/icon-settings-sharing-40x40.png")" />
                        Sharing
                        <br />
                        <span style="font-style: normal; font-size: 15px;">How and when you share activity</span>
                    </a>
                </li>
                <li>
                <a href="@Url.Content("~/Preferences/Security")" data-prefetch data-ajax="false" data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-security-40x40.png")" />
                     Security & Privacy
                     <br />
                     <span style="font-style: normal; font-size: 15px;">Change your password or security options</span>
                     </a>
                </li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li>
                    <!-- Separate Set -->
                    <!-- Help -->
                    <a href="@Url.Content("~/Preferences/Help")" data-prefetch data-ajax="false"  data-transition="slide">
                        <img src="@Url.Content("~/content/images/icon-settings-help-40x40.png")" />
                        Help
                        <br />
                        <span style="font-style: normal; font-size: 15px;">Issues? Contact us or view FAQs</span> </a></li>
                <!-- Feedback -->
                <li>
                    <a href="@Url.Content("~/Preferences/Feedback")" data-prefetch data-ajax="false"  data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-feedback-40x40.png")" />
                    Feedback 
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Ideas or comments? Let us know!</span>
                    </a>
                    </li>
            </ul>
            <ul data-role="listview" data-inset="true">
                <li>
                    <!--Rate PaidThx ( won't be used this version )-->
                    <!-- Separate Set -->
                    <!-- User Agreement -->
                    <a href="@Url.Content("~/Preferences/UserAgreement")" data-prefetch data-ajax="false" data-transition="slide">
                    <img src="@Url.Content("~/content/images/icon-settings-legal-40x40.png")" />
                    User Agreement
                    <br />
                    <span style="font-style: normal; font-size: 15px;">Terms or Service, Security & Privacy</span> </a></li>
                <li>
                    <!-- Sign Out -->
                    <a  href="@Url.Content("~/Preferences/SignOut")" data-prefetch data-ajax="false" data-transition="pop">
                    <img src="@Url.Content("~/content/images/icon-settings-signout-40x40.png")" />
                    Sign Out<br />
                    <span style="font-style: normal; font-size: 15px;">Log out of PaidThx</span> </a></li>
            </ul>
        </div>
    </div>
</div>
