@model Mobile_PaidThx.Models.NotificationModels.NotificationModel
@{
    ViewBag.Title = "Notifications";
}
<div data-role="page" id="notifications-page" data-theme="c">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Notifications</h1>
    </div>
    <div data-role="content" style="margin: 15px; background-color: #ffffff;">
        @foreach (var subject in Model.NotificationSubjects)
        {
            @subject.Description
            <ul data-role="listview" data-inset="true">
            @foreach (var item in subject.NotificationItems)
            {
            <li>
                <div data-role="fieldcontain">
                <label for="@item.Description">@item.Description</label>
                @Html.DropDownList(item.Description, new SelectList(item.Options, "Key", "Value", item.SelectedValue), new Dictionary<string, object>  { { "id", item.Description }, { "class", "notification-item" },  { "data-role", "slider" }, { "data-theme", "b" }})
                </div>
                </li>
           
            }
            </ul>
        }
         <p>
         <button type="submit" id="update-notifications-submit" class="imgbtn">
                        <img src="@Url.Content("~/Content/images/add-icon.png")" alt="" /><span>Save Changes</span></button></p>
    </div>
</div>
