@model List<Mobile_PaidThx.Services.ResponseModels.UserModels.UserPayPointResponse>
<div data-role="page" id="phone-page">
    @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content" style="margin: 15px;">
        @{
            int numberOfPhones = Model.Count();
            int currentIndex = 0;
        }
        @foreach (var phone in Model)
        {
            <a class="phoneobj-btn" data-value="@phone.Id" organization-name="@phone.Uri">
                <div class="@Html.GetTableClass(currentIndex, numberOfPhones)">
                    <div style="float: left">
                        <img alt="profileimg" src="@Url.Content("~/Content/images/icon-settings-phones-40x40.png")" width="40px" /></div>
                    <div style="float: left; padding-left: 10px; padding-top: 10px">
                        @phone.Uri</div>
                    <div style="float: right; padding-right: 5px; padding-top: 6px">
                        <img alt="arrowpng" src="@Url.Content("~/Content/images/arrow.png")" /></div>
                </div>
            </a>
            currentIndex++;
        }
        <a class="addnew-btn" organization-name="Phone">
            <div class="tablesettings">
                <div style="float: left">
                    <img alt="profileimg" src="@Url.Content("~/Content/images/icon-settings-phones-40x40.png")" width="40px" /></div>
                <div style="float: left; padding-left: 10px; padding-top: 10px">
                    Add New Phone Number</div>
                <div style="float: right; padding-right: 5px; padding-top: 6px">
                    <img alt="arrowpng" src="@Url.Content("~/Content/images/arrow.png")" /></div>
            </div>
        </a>
    </div>
</div>
