@model Mobile_PaidThx.Models.JoinModels.JoinModel
@{
    ViewBag.Title = "Join PaidThx";
    ViewBag.PageID = "page-join";
    ViewBag.Classes = "page ";
    
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    <div class="header-pdthx" >
        <h1>
             @if (Model.Message != null)
             {
                 if (Model.Message.MessageType == "Payment")
                 {
                    <text>You Have Money!</text>
                 }
                 if (Model.Message.MessageType == "PaymentRequest")
                 {
                    <text>You Have a Request!</text>
                 }
                 if (Model.Message.MessageType == "AcceptPledge")
                 {
                 <text>Thanks for your pledge!</text>
                 }

             }
             else
             {<text>Join PaidThx</text>}</h1>
             </div>
    <div class="pd-content">
    @Html.ValidationSummary()
        <div class="pad">
        <!--TESTING
         <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="../../Content/images/avatar.png" width="50" />
                    <h4 class="aui-message"><span class="sender">Example Sender&nbsp;</span>sent you  $25.56</span>.</h4>
                    <div class="clear"></div>
                </div>

                <span class="bubble">For that rousing game of charades you started last week.</span>​

                </div>
                -->
            @if (Model.Message != null)
            {
                if (Model.Message.MessageType == "Payment")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender ps-image left-image" src="@Model.Message.SenderImageUrl" width="50" height="50" />
                    <span class="aui-message">    <span class="lbl-sender">@Model.Message.Sender</span>
sent you <span class="lbl-amount payment in">$@string.Format("{0:n2}", Model.Message.Amount)</span> with PaidThx.</span>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - <b>join PaidThx to claim your money</b>.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "PaymentRequest")
                {
                <text>

                 <div id="pay-in ps-image left-image" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" height="50" />
                    <span class="aui-message">   <span class="lbl-sender">@Model.Message.Sender</span><br /> 
requested <span class="lbl-amount request in">$@string.Format("{0:n2}", Model.Message.Amount)</span> with PaidThx.</span>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - <b>join PaidThx to send this payment</b>.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "AcceptPledge")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender ps-image left-image" src="@Model.Message.SenderImageUrl" width="50" height="50" />
                    <span class="aui-message">   You pledged <span class="lbl-amount donation out">$@string.Format("{0:n2}", Model.Message.Amount)</span> to <span class="lbl-sender">@Model.Message.Sender</span> with PaidThx.</span>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - <b>join PaidThx to complete your donation</b>.</span>​
                 }
                </div>
                </text>
                }
            }
                <button onclick="location.href='https://www.facebook.com/dialog/oauth?client_id=332189543469634&redirect_uri=@Html.FormatCallbackUrl(Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content("~/"), "Join/RegisterWithFacebook/&scope=email&state=", Model.FBState)'" type="submit" id="signin-facebook-submit" class="pd-btn fb">
                Join with Facebook</button>
           <!-- <h5 style="margin-top:25px" id="form-marker">
                Or join with your Email Address</h5>-->
             <div style="margin-bottom:25px"></div>
             <button type="submit" id="join-reveal-button" class="pd-btn blue hide">
                Join with Email</button>

                <div id="email-reveal-form">
            <div id="registration-form">
                @using (Html.BeginForm("Index", "Join", FormMethod.Post, new Dictionary<string, object> { { "id", "frmSubmit" }, { "data-transition", "slideup" }, { "class", "validateMe" } }))
                {
                    <span class="form-holder"><input type="email" id="email" class="email required" placeholder="Enter Your Email Address"
                        name="email" value="@Model.UserName" /></span>
                    <span class="form-holder"> <input type="password" class="required passwrdvalidator reveal" id="password" placeholder="Create a Password"
                        name="password" /></span>
                    <span class="form-holder" id="confirmPasswordHolder"><input id="confirmPassword" class="required pwmatch reveal" type="password" placeholder="Confirm Your Password"
                        name="confirmPassword" /></span>
                <button type="submit" id="register-submit" class="pd-btn green">
                Join with Email</button>
                   
                  <div id="pass" class="hidden">
	<ul class="pass-help">
		<li id="letter" class="invalid"><strong>1 letter (a-z)</strong> &nbsp;</li>
		<li id="capital" class="invalid"><strong>1 capital (A-Z)</strong> &nbsp;</li>
		<li id="number" class="invalid"><strong>1 number (0-9)</strong> &nbsp;</li>
		<li id="length" class="invalid"><strong>6+ characters</strong></li>
	</ul>
     </div>
                }
            </div>
             </div>
            <div id="main-body-sub-links">
                <p style="text-align: center">
                    Already a member? <a href="@Url.Content("~/SignIn")" data-ajax="false">Sign
                        In</a></p>
            </div>
        </div>

    </div>
    <div class="footer-pdthx"> 
	<h4>Learn About PaidThx <a title="Learn More" href="@Url.Content("~/About")">Here</a></h4> 
</div> 
            
    </div>

    @section PageScripts{
    <script type="text/javascript">
        $(document).ready(function () {

            //show email reveal button
            $("#join-reveal-button").show();

           //hide form
            $("#email-reveal-form").hide();

            $("#join-reveal-button").click(function () {
                $("#email-reveal-form").show();
                $("#join-reveal-button").hide();
            });

        });
    </script>
    }
