@model Mobile_PaidThx.Models.JoinModels.JoinModel
@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="page-join">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
             @if (Model.Message != null)
             {<text>You Have Money!</text>}
             else
             {<text>Join</text>}</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" class="content-margin">
        <div>
            @if (Model.Message != null)
            {
                if (Model.Message.MessageType == "Payment")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui" style="position: relative">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message" style="position: absolute; left: 60px"><span class="sender">@Model.Message.Sender&nbsp;</span>sent you @String.Format("{0:C}", Model.Message.Amount).</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to claim your money.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "PaymentRequest")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui" style="position: relative">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message" style="position: absolute; left: 60px"><span class="sender">@Model.Message.Sender&nbsp;</span>requests @String.Format("{0:C}", Model.Message.Amount) from you.</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to send money.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "Pledge")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui" style="position: relative">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message" style="position: absolute; left: 60px"><span class="sender">@Model.Message.Sender&nbsp;</span>sent you @String.Format("{0:C}", Model.Message.Amount).</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to claim your money.</span>​
                 }
                </div>
                </text>
                }
            }

            <h5 style="margin-top:10px">
                Connect with Facebook</h5>
                <button onclick="location.href='https://www.facebook.com/dialog/oauth?client_id=332189543469634&redirect_uri=@Html.FormatCallbackUrl(Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content("~/"), "Join/SignInWithFacebook/&scope=email&state=", Model.FBState)'" type="submit" id="signin-facebook-submit" class="btn-jq" data-theme="d">
                Join with Facebook</button>
            <h5 style="margin-top:25px" id="form-marker">
                Or join with your Email Address</h5>
                @Html.ValidationSummary()
             
            <a data-role="button" id="join-reveal" data-theme="b" data-icon="arrow-d" data-iconpos="right">
                Join with Email</a>
            <div id="registration-form" class="hidden">
                @using (Html.BeginForm("Index", "Join", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slideup" } }))
                {
                    <input type="email" id="email" class="required email" placeholder="Enter Your Email Address"
                        name="Email" style="margin-bottom:15px" value="@Model.UserName" required />
                    <input type="password" id="password" class="required" placeholder="Create a Password"
                        name="Password" style="margin-bottom:15px" required />
                    <input type="password" id="confirmPasword" class="required" placeholder="Confirm Your Password"
                        name="ConfirmPassword" style="margin-bottom:15px" required />
                <button type="submit" id="register-submit" data-theme="f" data-icon="check" data-iconpos="right">
                Join with Email</button>
                  
                }
            </div>
            <div id="main-body-sub-links">
                <p style="text-align: center">
                    Already a member? <a href="@Url.Content("~/SignIn")" data-ajax="false">Sign
                        In</a></p>
            </div>
        </div>

    </div>
     @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 2, HeaderText = "Join" }); }
             <script type="text/javascript">


                 $(document).delegate('#page-join', 'pageinit', function () {
                     $('#join-reveal').click(function () {
                         event.preventDefault();
                         $(this).hide();
                         $('#registration-form').removeClass('hidden');
                         $('#registration-form').show();
                             var scrolly = $('#form-marker').get(0).offsetTop;
                             $.mobile.silentScroll(scrolly - 50);
                             return false;
                     });

                 });
</script>
</div>
