@model Mobile_PaidThx.Models.JoinModels.JoinModel
@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="page-join">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
             @if (Model.Message != null)
             {<text>You Have Money!</text>}
             else
             {<text>Join</text>}</h1>
             </div>
    <div data-role="content">
        <div class="pad">
        <!--
         <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="../../Content/images/avatar.png" width="50" />
                    <h4 class="aui-message"><span class="sender">Example Sender&nbsp;</span>sent you  $25.56</span>.</h4>
                    <div class="clear"></div>
                </div>

                <span class="bubble">For that rousing game of charades you started last week.</span>​

                </div>
                -->
            @if (Model.Message != null)
            {
                if (Model.Message.MessageType == "Payment")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message"><span class="sender">@Model.Message.Sender&nbsp;</span>sent you @String.Format("{0:C}", Model.Message.Amount).</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to claim your money.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "PaymentRequest")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message"><span class="sender">@Model.Message.Sender&nbsp;</span>requests @String.Format("{0:C}", Model.Message.Amount) from you.</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to send money.</span>​
                 }
                </div>
                </text>
                }
                if (Model.Message.MessageType == "Pledge")
                {
                <text>

                 <div id="pay-in" class="aui">
                <div class="paystream-aui">
                    <img class="sender" src="@Model.Message.SenderImageUrl" width="50" />
                    <h4 class="aui-message"><span class="sender">@Model.Message.Sender&nbsp;</span>sent you @String.Format("{0:C}", Model.Message.Amount).</h4>
                    <div class="clear"></div>
                </div>
                 @if (!String.IsNullOrEmpty(Model.Message.Comments))
                 {
                <span class="bubble">@Model.Message.Comments - join PaidThx to complete your donation.</span>​
                 }
                </div>
                </text>
                }
            }

            <h5>
                Connect with Facebook</h5>
                <button onclick="location.href='https://www.facebook.com/dialog/oauth?client_id=332189543469634&redirect_uri=@Html.FormatCallbackUrl(Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content("~/"), "Join/SignInWithFacebook/&scope=email&state=", Model.FBState)'" type="submit" id="signin-facebook-submit" class="btn-jq" data-theme="d">
                Join with Facebook</button>
            <h5 style="margin-top:25px" id="form-marker">
                Or join with your Email Address</h5>
                @Html.ValidationSummary()
             
            <div id="registration-form">
                @using (Html.BeginForm("Index", "Join", FormMethod.Post, new Dictionary<string, object> { { "id", "frmSubmit" }, { "data-transition", "slideup" } }))
                {
                    <input type="email" id="email" class="required email" placeholder="Enter Your Email Address"
                        name="Email" style="margin-bottom:15px" value="@Model.UserName" required />
                    <input type="password" id="password" class="password required" placeholder="Create a Password"
                        name="Password" style="margin-bottom:15px" required />
                         <div id="pass" class="hidden">
     Your password must be at least <b>6 characters long</b>, and include at least <b>1 number (0-9)</b> and <b>1 special character (!%#$, etc.)</b>
       <div class="password-meter">
		<div class="password-meter-message">&nbsp;</div>
		<div class="password-meter-bg">
			<div class="password-meter-bar"></div>
		</div>
	</div>

     </div>
                        
                    <input type="password" id="confirmPasword" class="required passwordmatch hidden" placeholder="Confirm Your Password"
                        name="ConfirmPassword" style="margin-bottom:15px" required />
                <button type="submit" id="register-submit" data-theme="f" data-icon="check" data-iconpos="right">
                Join with Email</button>
                  
                }
            </div>
            <div id="main-body-sub-links">
                <p style="text-align: center">
                    Already a member? <a href="@Url.Content("~/SignIn")" data-ajax="false">Sign
                        In</a></p>
            </div>
        </div>

    </div>
     @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 2, HeaderText = "Join" }); }
             <script type="text/javascript">
                //wait to do event binding until the page is being initialized
                 $(document).on("pageshow", "#page-join", function () {
                    $.validator.addMethod("passwordmatch", function (value) {
                        return value == $("#password").val();
                    }, "Confirm Password must match Password");

                    $("#frmSubmit").validate();
                });
       </script>
<script type="text/javascript">
    $(document).delegate('#page-join', 'pageinit', function () {
        $("#frmSubmit").validate();
        $("#password").valid();

        var content = $('#pass').html();

    $('#registration-form #password').qtip({
        content: content,
        //{   
        // text: 'Password must be at least 6 characters long, and include at least 1 letter, 1 number, and 1 special character.'
        //},
        position: {
            my: 'bottom center',
            at: 'top center'
        },
        show: {
            event: 'focus',
            solo: true
        },
        hide: {
            event: 'unfocus',
            fixed: true
        },
        style: {
            classes: 'ui-tooltip-shadow ui-tooltip-rounded ui-tooltip-tipped ui-tooltip-light',
            width: "88%"
        }
    });
});
    </script>

</div>
