@model Mobile_PaidThx.Models.PaystreamModels.PaymentModel

<li class="@Html.GetTransactionCssClass(Model) streamer"><a href="#">
TESTING
<!--
              <div class="stream-image">
              <img src="@Url.Content(Model.TransactionImageUrl)" alt="Image" />
           </div>
            <div class="stream-name">
                @switch (Model.Direction)
            {
                case "In":
                    <text>
                    <strong>@Html.FormatUri(Model.SenderUri)</strong>
                    </text>
                       break;
                case "Out":
                    <text>
                    <strong>@Html.FormatUri(Model.RecipientUri)</strong>
                    </text>
                       break;
            }
            </div>
            <span class="stream-amount">
                @string.Format("{0:C}", Model.Amount)
            </span>

             -->
        </a>
        
       </li>