@model Mobile_PaidThx.Models.RequestModels.RequestMoneyModel
@{
    ViewBag.Title = "Index";
}
<div id="request-page" data-role="page" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Request Money</h1>
        <a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>
    </div>
    <div data-role="content">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
            @Html.ValidationSummary()
            @using (Html.BeginForm("Index", "Request", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide" } }))
            {
                <p style="margin-top: 0; padding-top: 0;">
                    <label for="txtSendTo" style="font-size: 16px">
                        Request To:</label>
                    <a href="@Url.Content("~/Request/AddContactRequest")" data-prefetch>
                        <button type="button" class="imgbtn field-btn">
                            <span class="imgbg" style="padding-left: 0px; width: 50px; margin-left: -2px">
                                <img src="@Url.Content("~/Content/images/icon-person.png")" alt="" /></span><span
                                    id="person-send">
                                    @if (!String.IsNullOrEmpty(Model.RecipientUri))
                                    {
                                        <span id="modelRecipient-Request">@Model.RecipientUri</span>
                                    }
                                    else
                                    {
                                        <text>Choose a recipient</text>
                                    }
                               </span>
                        </button>
                    </a>
                </p>
                <p>
                    <label for="clickamountbtn" style="font-size: 16px">
                        Request Amount:</label>
                    <a href="@Url.Content("~/Request/AmountToRequest")" data-prefetch>
                        <button type="button" class="imgbtn field-btn">
                            <span class="imgbg" style="margin-left: -2px">
                                <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                                    id="amount-request">
                                    @if (Model.Amount > 0)
                                    {
                                        <text>@string.Format("{0:C}", Model.Amount)</text>
                                    }
                                    else
                                    {
                                        <text>Choose Amount</text>
                                    }</span></button></a>
                    <!--<div onclick="chooseAmountRequest()" class="clickamountbtn">
            <span id="amount-request">Select amount</span></div>-->
                </p>
                <p>
                    <label for="txtComments" style="margin-bottom: 15px">
                        Message:</label>
                    <textarea id="txtComments-Request" rows="10" cols="100" placeholder="For what? Add a message..."
                        required></textarea>
                </p>
                <p>
                    <button type="submit" id="request-money" class="btn-new btn-green">
                        <span>Request Money</span></button>
                </p>
            }
        </div>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 1, HeaderText = "Request Money" }); }
</div>
