@model Mobile_PaidThx.Models.DonateModels.AddContactModel
@{
    ViewBag.Title = "Donate | Donate To:";
    ViewBag.PageID = "donate-add-contact-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes">

    <div  class="header-pdthx" >
        <h1>Donate To:</h1>
        <a href="@Url.Content("~/Donate")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
      
        
          <div class="pad">
     @if (Model.SortedNonProfits.Count < 1)
        {
        <input type="text" id="orgNew" data-type="search" placeholder="Type ME Code" class="contact-top-input ui-input-text ui-body-c"/>
        }
        else
        {
        <input type="text" id="orgSearch" data-type="search" placeholder="Search non-profits" class="contact-top-input ui-input-text ui-body-c"/>
        }
        <ul id="contactList" data-role="listview" class="ui-listview" data-filter="true" data-filter-placeholder="Type Name of Non Profit">

                @foreach (var alphaGroup in Model.SortedNonProfits)
                {
                    <li class="list-divider">@alphaGroup.Key</li>
                    foreach (var nonprofit in alphaGroup.Value)
                    {
                    <li class="contact contact-select removable">
                   @using (Html.BeginForm())
                   {
                       @Html.Hidden("recipientId", @nonprofit.Id)
                       @Html.Hidden("recipientName", @nonprofit.Name)
                       @Html.Hidden("recipientImageUrl", "");
                       @Html.Hidden("recipientType", "NonProfit");
                       <a class="contact-organization contact-image">
                           <img width="50" height="50" class="list-thumbnail lazy" src="@Url.Content("~/Content/images/npo.png")" data-original="@nonprofit.ImageUri" />
                           @if (nonprofit.HasInfo)
                           {
                               <img style="float:right" src="@Url.Content("~/Content/images/btn_info_active.png")" />
                           }
                           <h2 class="heading">@nonprofit.Name</h2>
                           @if (!String.IsNullOrEmpty(nonprofit.Slogan))
                           {
                               <h4 class="subheading">"@nonprofit.Slogan"</h4>
                           }
                       </a>
                   }
                   <div class="clear"></div>
                    </li>
                    }
                }
            </ul>
                      @{
                   Html.RenderPartial("~/Views/Shared/ContactSelection.cshtml");   
               }
        </div>
    </div>
 @section PageScripts
{

        <script id="meCodeItem" type="text/x-jquery-tmpl">
            <li>
                <a class="contact-organization" recipient-id="${userId}" recipient-uri="${meCode}" recipient-type="meCode" organization-name="${meCode}">
                    <img src="http://graph.facebook.com/1/picture" />
                    ${meCode}
                </a>
            </li>
        </script>

<script type="text/javascript" src="@Url.Content("~/Scripts/contactselection.js")"></script>

<script type="text/javascript">
    $(document).ready(function () {
                $('#contactList').on("click", ".contact-organization", function (event) {

                    $(this).parents("form:first").submit();

                });

            });

        </script>
    }

