@model Mobile_PaidThx.Models.DonateModels.AddContactModel
@{
    ViewBag.Title = "Donate To:";
    ViewBag.PageID = "donate-add-contact-page";
    ViewBag.Classes = "full";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-dom-cache="true"  >

    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>Select Non-Profit</h1>
    </div>
    <div data-role="content">
      
        
          <div class="pad">
          <ul id="contactsList" data-role="listview" class="ui-listview" data-filter="true" data-filter-placeholder="Type Name of Non Profit">

                @foreach (var alphaGroup in Model.SortedNonProfits)
                {
                    <li data-role="list-divider">@alphaGroup.Key</li>
                    foreach (var nonprofit in alphaGroup.Value)
                    {
                    <li class="contact">
                   @using (Html.BeginForm())
                   {
                       @Html.Hidden("recipientId", @nonprofit.Id)
                       @Html.Hidden("recipientName", @nonprofit.Name)
                       @Html.Hidden("recipientImageUrl", "");
                       @Html.Hidden("recipientType", "NonProfit");
                       <a class="contact-organization">
                           <img class="list-thumbnail lazy" src="@Url.Content("~/Content/images/npo.png")" data-original="@nonprofit.ImageUri" />
                           @if (nonprofit.HasInfo)
                           {
                               <img style="float:right" src="@Url.Content("~/Content/images/btn_info_active.png")" />
                           }
                           <h2 class="heading">@nonprofit.Name</h2>
                           @if (!String.IsNullOrEmpty(nonprofit.Slogan))
                           {
                               <h4 class="subheading">"@nonprofit.Slogan"</h4>
                           }
                       </a>
                   }
                    </li>
                    }
                }
                <li id="contact-no-results" class="contact-no-results-item">
                    <img src="@Url.Content("~/Content/images/avatar.png")" />
                    <span id="results-header">No matches found 
                    </span>
                    <br />
                    <span id="results-description">Please check entry
                    </span>
                </li>
                <li id="me-codes-divider" data-role="list-divider">Me Codes</li>

            </ul>
        </div>
        <script id="meCodeItem" type="text/x-jquery-tmpl">
            <li>
                <a class="contact-organization" recipient-id="${userId}" recipient-uri="${meCode}" recipient-type="meCode" organization-name="${meCode}">
                    <img src="http://graph.facebook.com/1/picture" />
                    ${meCode}
                </a>
            </li>
        </script>
        <script language="javascript">
            //wait to do event binding until the page is being initialized
            $(document).ready(function () {

                $(this).find("img.lazy").lazyload();

                //cache the list-view element for later use
                var $listview = $(this).find('[data-role="listview"]');

                contactsSearchController.init($("#donate-add-contact"));

                //delegate event binding since the search widget is added dynamically
                //bind to the `keyup` event so we can check the value of the input after the user types
                $('input[data-type="search"]').bind('keyup', function () {

                    var searchVal = $(this).delegate('input[data-type="search"]').val();

                    if (searchVal.substring(0, 1) == '$') {

                        if (searchVal.length > 3) {
                            $("#me-codes-divider").show();
                            contactsSearchController.searchAndDisplayMeCodes(searchVal, 'non-profits');
                        } else {
                            $("#me-codes-divider").hide();
                            contactsSearchController.clearMeCodes();
                        }
                    }
                    else {
                        $("#me-codes-divider").hide();
                        contactsSearchController.clearMeCodes();


                        //check to see if there are any visible list-items that are not the `#no-results` element
                        if ($listview.children(':visible').not('.contact-no-results-item').length === 0) {
                            contactsSearchController.showNoResults(searchVal);

                        } else {
                            //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                            contactsSearchController.hideNoResults(searchVal);
                        }
                    }
                });

                $(".contact-organization").die("click").live("click", function () {

                    $(this).parents("form:first").submit();

                });

            });

        </script>
    </div>
