@model Mobile_PaidThx.Models.DonateModels.DonateMoneyModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "donate-page";
    ViewBag.Classes = "page ";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>Donate</h1>
        
    </div>
    <div data-role="content">
    <div class="pad">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Index", "Donate", FormMethod.Post))
        {
            
 <a href="@Url.Content("~/Donate/AddContact")" class="a-recipient" data-prefetch data-transition="slide">
                <div id="btn-recipient" class="btn-sends">
                        @if (!String.IsNullOrEmpty(Model.RecipientImageUrl))
                        {
                            <img class="img-recipient" src="@Model.RecipientImageUrl" alt="@Model.RecipientName" />
                        }
                        else
                        {
                            if (!String.IsNullOrEmpty(Model.RecipientName))
                            {
                         <img class="img-recipient" src="@Url.Content("~/Content/images/npo-active.png")" alt="Recipient" />
                            }
                            else
                            {
                         <img class="img-recipient" src="@Url.Content("~/Content/images/npo.png")" alt="Recipient" />
                            }
                        }
                        <div class="recipient-txt">
                        
                              @if (!String.IsNullOrEmpty(Model.RecipientName))
                              {
                                    <text><h2 class="heading">@Model.RecipientName</h2>
                                  <h4 class="subheading"></h4></text>
                              }
                              else
                              {
                                    <text><h2 class="heading">Select Non-Profit</h2>
                                  <h4 class="subheading">Choose your organization</h4></text>
                              }
                                              </div>  
                                              <div class="clear"></div> 
                                              
                                              <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>       
                    </div></a>
                <a href="@Url.Content("~/Donate/AmountToSend")" class="a-amount" data-prefetch data-transition="slide">
                    <div id="btn-amount" data-role="none" type="button" class="btn-sends">
                          @if (Model.Amount > 0)
                          {
                            <img class="img-amount" src="@Url.Content("~/Content/images/money-active.png")" alt="Amount" />
                          }
                          else
                          {
                         <img class="img-amount" src="@Url.Content("~/Content/images/money.png")" alt="Amount" />
                          }
                        <div class="amount-txt">
                           @if (Model.Amount > 0)
                           {
                                    <text>
                                    <h2 class="thenumber">@string.Format("{0:n2}", Model.Amount)</h2>
                                    </text>
                           }
                           else
                           {
                                    <text><h2 class="heading">Enter Amount</h2>
                                    <h4 class="subheading">How much to donate</h4>
                                    </text>
                           }
                                    </div>
                                    <div class="clear"></div> 
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>       
                    </div>
                </a>
                        
                <textarea id="txtComments-Donate" rows="10" cols="100" placeholder="Enter dedications, notes, etc."></textarea>

                <p>
                <button type="submit" class="pd-btn" data-theme="f">
                    <span>Make Donation</span></button>
                    </p>
        }
        </div>
    </div>
</div>

@section PageScripts{


}