@model Mobile_PaidThx.Models.DonateModels.DonateMoneyModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "donate-page";
    ViewBag.Classes = "";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>Donate</h1>
        
    </div>
    <div data-role="content">
    <div class="pad">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Index", "Donate", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slideup" } }))
        {
            
            <p>
                <a href="@Url.Content("~/Donate/AddContact")" data-prefetch data-transition="slide">
                    <button id="btn-nonprofit" type="button" class="imgbtn field-btn" data-role="none">
                        <span class="imgbg">
                            @if (!String.IsNullOrEmpty(Model.RecipientImageUrl))
                            {
                                <img src="@Model.RecipientImageUrl" alt="@Model.RecipientName" />
                            }
                            else
                            {
                                
                            }
                            </span>
                        <span id="organization-name">
                            @if (!String.IsNullOrEmpty(Model.RecipientName))
                            {
                                <span id="org-name-donate">@Model.RecipientName</span>
                            }
                            else
                            {
                                <text>Select Non Profit</text>
                            }</span>
                    </button>
                </a>
               </p>
               <p>
                <a href="@Url.Content("~/Donate/AmountToSend")" data-prefetch data-transition="slide">
                    <button id="btn-amount" data-role="none" type="button" class="imgbtn field-btn">
                        <span class="imgbg">
                           </span>
                            <span
                                id="amount-send">@if (Model.Amount > 0)
                                                 {
                                    <text>@string.Format("{0:C}", Model.Amount)</text>
                                                 }
                                                 else
                                                 {
                                    <text>Enter Amount</text>
                                                 }</span></button></a>
               </p>
            
            <p>
                <textarea id="txtComments-Donate" rows="10" cols="100" placeholder="Enter dedications, comments, etc"></textarea>
                </p>
                <p>
                <button type="submit" class="btn-jq" data-theme="f">
                    <span>Make Donation</span></button>
                    </p>
        }
        </div>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 3, HeaderText = "Donate" }); }
</div>

@section PageScripts{


}