@model Mobile_PaidThx.Models.DonateModels.DonateMoneyModel
<div data-role="page" id="donate-page" data-add-back-btn="true">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Donate</h1>
        <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right">
        </a>
    </div>
    <div data-role="content" class="content-margin">
        @Html.ValidationSummary()
        @using (Html.BeginForm("Index", "Donate", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slideup" } }))
        {
            <div style="margin: 10px">
            <p>
                <a href="@Url.Content("~/Donate/AddContact")" data-prefetch data-transition="slide">
                    <button type="button" class="imgbtn field-btn" data-role="none">
                        <span class="imgbg" style="padding-left: 0px; width: 55px; margin-left: -2px">
                            @if (!String.IsNullOrEmpty(Model.RecipientImageUrl))
                            {
                                <img src="@Model.RecipientImageUrl" alt="@Model.RecipientName" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/images/icon-person.png")" alt="@Model.RecipientName" />
                            }
                        </span><span id="organization-name">
                            @if (!String.IsNullOrEmpty(Model.RecipientName))
                            {
                                <span id="org-name-donate">@Model.RecipientName</span>
                            }
                            else
                            {
                                <text>Select Non Profit</text>
                            }</span>
                    </button>
                </a>
               </p>
               <p>
                <a href="@Url.Content("~/Donate/AmountToSend")" data-prefetch data-transition="slide">
                    <button type="button" class="imgbtn field-btn" data-role="none">
                        <span class="imgbg" style="margin-left: -2px">
                            <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                                id="amount-request">@if (Model.Amount > 0)
                                                    {
                                    <text>@string.Format("{0:C}", Model.Amount)</text>
                                                    }
                                                    else
                                                    {
                                    <text>Enter Amount</text>
                                                    }</span></button></a>
               </p>
            </div>
            <div style="margin-left: 10px; margin-right: 10px; margin-top: 20px">
                <label for="txtComments-Donate" style="margin-bottom: 15px; font-size: 18px">
                    Dedicate to Someone?</label>
                <textarea id="txtComments-Donate" rows="10" cols="100" placeholder="Enter dedications, comments, etc"></textarea>
            </div>
            <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
                <button type="submit" class="btn-jq" data-theme="f">
                    <span>Make Donation</span></button>
            </div>
        }
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 3, HeaderText = "Donate" }); }
</div>
