@model Mobile_PaidThx.Models.DonateModels.PinSwipeModel
@{
    ViewBag.Title = "Confirm Donation";
    ViewBag.PageID = "donate-pinswipe-page";
    ViewBag.Classes = "page ";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
        
       
    <div class="header-pdthx" >
       <h1>
            Confirm</h1>
            <a href="@Url.Content("~/Donate")"  class="hd-btn-left btn-back history">Back</a>
    </div>
  
    <div class="pd-content">
        <div class="top-panel">
 @if(!String.IsNullOrEmpty(Model.RecipientImageUrl))
        {
            <text><img src="@Model.RecipientImageUrl" alt="@Model.RecipientName" class="ps-image" style="margin-right:12px;" /></text>
        }
        Please swipe your security pin to confirm your donation of <span class="lbl-amount donation out"><b>@String.Format("{0:C}", Model.Amount)</b></span> to <b>@Model.RecipientName</b>
        </div>
        @Html.ValidationSummary()
              <div class="pad">
        @using (Html.BeginForm("PopupPinswipe", "Donate", FormMethod.Post, new Dictionary<string, object> {{  "id", "pinSwipeForm"}, { "class", "validateMe"  } }))
        {
            Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
    </div>

</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
