@model Mobile_PaidThx.Models.SendMoneyModel
<div id="main-body" class="panel">
    <form id="frmSendMoney" action="@Url.Content("~/Profile/SendMoney")" method="post">
    <p>
        <label for="txtSendTo">
            Send To:</label>
        <a href="" data-prefetch>
            <button type="button" class="imgbtn field-btn">
                <span class="imgbg" style="padding-left:0px; width:50px; margin-left:-2px">
                    <img src="@Url.Content("~/Content/images/icon-person.png")" alt="" /></span><span
                        id="person-send">Choose a recipient</span>
            </button>
        </a>
    </p>
    <p>
        <label for="txtAmount">
            Amount to Send:</label>
        <a href="./Send/AmountToSend" data-prefetch>
            <button type="button" class="imgbtn field-btn">
                <span class="imgbg" style="margin-left:-2px">
                    <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                        id="amount-send">@if (Model.Amount > 0)
                                         {
                                             <text>@string.Format("{0:C}", Model.Amount)</text>
                                         }
                                         else
                                         {
                                            <text>Choose Amount</text>
                                         }</span>
            </button>
        </a>
    </p>
    <p>
        <label for="txtComments" style="margin-bottom: 15px">
            Comments:</label>
        <textarea name="Comments" id="txtComments" rows="10" cols="100" placeholder="Enter notes, comments, etc"
            required></textarea>
    </p>
    <p>
        <input type="image" id="btnSendMoney" src="@Url.Content("~/Content/images/send_money_button.gif")" />
    </p>
    </form>
</div>
