@model Mobile_PaidThx.Models.SendModels.SendMoneyModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "send-page";
    ViewBag.Classes = "";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-id="navpersist" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>Send Money</h1>
        <a href="@Url.Content("~/Preferences")"  class="ui-btn-right" data-role="button" data-theme="f" data-icon="gear" data-iconpos="notext">Settings</a>
        @{Html.RenderPartial("LoggedInMenuTop", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 2, HeaderText = "Send Money" }); }
    </div>
    <div data-role="content">
    <div class="pad">
        @Html.ValidationSummary()
     
            <a href="@Url.Content("~/Send/AddContactSend")" class="a-recipient" data-prefetch data-transition="slide">
                <div id="btn-recipient" class="btn-sends">
                        @if (!String.IsNullOrEmpty(Model.RecipientImageUrl))
                        {
                            <img class="img-recipient" src="@Model.RecipientImageUrl" alt="@Model.RecipientName" />
                        }
                        else
                        {
                         if (!String.IsNullOrEmpty(Model.RecipientName))
                         {
                         <img class="img-recipient" src="@Url.Content("~/Content/images/avatar-active.png")" alt="Recipient" />
                         }
                         else
                         {
                         <img class="img-recipient" src="@Url.Content("~/Content/images/avatar.png")" alt="Recipient" />
                         }
                        }
                        <div class="recipient-txt">
                        
                              @if (!String.IsNullOrEmpty(Model.RecipientName))
                              {
                                    <text><h2 class="heading">@Model.RecipientName</h2>
                                  <h4 class="subheading">@Model.RecipientUri</h4></text>
                              }
                              else
                              {
                                    <text><h2 class="heading">Select Recipient</h2>
                                  <h4 class="subheading">Select friend, email, or phone</h4></text>
                              }
                                              </div>  
                                              <div class="clear"></div> 
                                              
                                              <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>       
                    </div></a>
                <a href="@Url.Content("~/Send/AmountToSend")" class="a-amount" data-prefetch data-transition="slide">
                    <div id="btn-amount" data-role="none" type="button" class="btn-sends">
                          @if (Model.Amount > 0)
                          {
                            <img class="img-amount" src="@Url.Content("~/Content/images/money-active.png")" alt="Amount" />
                          }
                          else
                          {
                         <img class="img-amount" src="@Url.Content("~/Content/images/money.png")" alt="Amount" />
                          }
                        <div class="amount-txt">
                           @if (Model.Amount > 0)
                           {
                                    <text>
                                    <h2 class="thenumber">@string.Format("{0:n2}", Model.Amount)</h2>
                                    </text>
                           }
                           else
                           {
                                    <text><h2 class="heading">Enter Amount</h2>
                                    <h4 class="subheading">How much to send</h4>
                                    </text>
                           }
                                    </div>
                                    <div class="clear"></div> 
                                    <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>       
                    </div>
                </a>
       
     
                <textarea id="txtComments" name="Comments" rows="10" cols="100" placeholder="For what? Add a message..."></textarea>
     
         @using (Html.BeginForm("Index", "Send", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slideup" } }))
         {
            <p>
                <button type="submit" id="sendmoney2" class="btn-jq" data-theme="f">
                    <span>Send Money</span></button>
            </p>
         }
       </div>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 2, HeaderText = "Send Money" }); }
</div>