@model Mobile_PaidThx.Models.SendModels.PinSwipModel
@{
    ViewBag.Title = "Send | Confirm Send";
    ViewBag.PageID = "send-popup-pinswipe-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >

    <div class="header-pdthx" >
        
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/Send")"  class="hd-btn-left btn-back history">Cancel</a>
    </div>
  
    <div class="pd-content">
     <div class="top-panel" id="swipe-to-confirm">
        @if(!String.IsNullOrEmpty(Model.RecipientImageUrl))
        {
            <text><img src="@Model.RecipientImageUrl" width="50" height="50" alt="@Model.RecipientName" class="ps-image" style="margin-right:12px;" /></text>
        }
        @if(!String.IsNullOrEmpty(Model.RecipientName))
        {
            <text>Please swipe your security pin to confirm your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Amount)</b></span> to <b>@Model.RecipientName.</b></text>
        } 
        else
        {
            <text>Please swipe your security pin to confirm your payment of <span class="lbl-amount payment out"><b>@String.Format("{0:C}", Model.Amount)</b></span> to <b>@Model.RecipientUri</b>.</text>
        }     
        <div class="clear"></div>
        </div>

        @Html.ValidationSummary()

    <div class="pad">
        
       
        
        @using (Html.BeginForm("PopupPinswipe", "Send", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "class", "validateMe" } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
    </div>


</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}
