@model Mobile_PaidThx.Models.SendModels.PinSwipModel
@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="pinswipe-page" data-add-back-btn="true" @TempData["DataUrl"]>
 @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <a href="Index" data-transition="slideup" data-direction="reverse">Cancel</a>
        <h1>
            Confirm</h1>
    </div>
  
    <div data-role="content">
        @Html.ValidationSummary()
        <div class="instructions" id="swipe-to-confirm">
        @if(!String.IsNullOrEmpty(Model.RecipientImageUrl))
        {
            <text><img src="@Model.RecipientImageUrl" alt="@Model.RecipientName" /></text>
        }
        @if(!String.IsNullOrEmpty(Model.RecipientName))
        {
            <text>Please swipe your security pin to confirm your payment of @String.Format("{0:C}", Model.Amount) to @Model.RecipientName.</text>
        } 
        else
        {
            <text>Please swipe your security pin to confirm your payment of @String.Format("{0:C}", Model.Amount) to @Model.RecipientUri.</text>
        }     
        </div>
        <div style="height: 1px; width: 100%; background: #666666">
        </div>
        @using (Html.BeginForm("PopupPinswipe", "Send", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" data-role="none" />
        </div>
        }
    </div>
    
  <div id="resizerHack">
        
        
        </div>
<script type="text/javascript">
    $(document).ready(function () {

        function resizePIN() {

            $(".hackstyle").remove();
            var widthy = $(window).width();
            divwidth = widthy * .93;

            $("#resizerHack").append("<div class=\"hackstyle\"><style>div.patternlocklinesdiagonalcontainer { height:" + divwidth + "px ;}div.patternlocklinesverticalcontainer { height:" + divwidth + "px ;}div.patternlocklineshorizontalcontainer { height:" + divwidth + "px ;}div.patternlockbuttoncontainer { height:" + divwidth + "px ;}</div>")

        };

        resizePIN();

        $(window).resize(function () {
            resizePIN();
        });
    });
</script>
</div>
