@model PagedList.IPagedList<SocialPayments.Web.Admin.Models.PaymentModel>
@{
    ViewBag.Title = "Payments";
}
<script src="@Url.Content("~/Scripts/payment.js")" type="text/javascript"></script>
<h2>
    Payments</h2>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Submitted
        </th>
        <th>
            To Mobile Number
        </th>
        <th>
            From Mobile Number
        </th>
        <th>
            Amount
        </th>
        <th>
            Status
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="edit" paymentId="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToMobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromMobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
        </tr>
    }
</table>
<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount
    @if (Model.HasPreviousPage)
    { 
        @Html.ActionLink("<<", "Index", new { pageIndex = 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
        @Html.Raw(" "); 
        @Html.ActionLink("< Prev", "Index", new { pageIndex = Model.PageNumber - 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
    }
    else
    { 
        @:<<
        @Html.Raw(" "); 
        @:< Prev
        }
    @if (Model.HasNextPage)
    { 
        @Html.ActionLink("Next >", "Index", new { pageIndex = Model.PageNumber + 1, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
        @Html.Raw(" "); 
        @Html.ActionLink(">>", "Index", new { pageIndex = Model.PageCount, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }) 
    }
    else
    { 
        @:Next >
        @Html.Raw(" ") 
        @:>>
        }
</div>
<div id="dialog-edit" class="dialog-form" title="Edit Payment" style="display: none;">
    <fieldset>
        <legend>Edit Payment Information</legend>
        <form action="@Url.Content("~/Payment/UpdatePayment")" method="post">
        <input type="hidden" id="paymentId" name="PaymentId" />
        <div id="payment-wrapper">
            <fieldset>
                <legend>Payment Information</legend>
                
                <div id="user-col-wrapper" class="clearfix">
                    <div id="payment-left-col" style="float: left; margin-right: 10px; width: 50%;">
                        <div class="editor-label">
                        <label for="name">
                            Payment Id</label>
                        </div>
                        <div class="editor-field">
                            <div id="paymentInfoPaymentId">
                            </div>
                        </div>
                      <div class="editor-label">
                            <label for="email">
                                Sender Uri</label>
                        </div>
                        <div class="editor-field">
                            <div id="senderUri">
                            </div>
                        </div>
                        <div class="editor-label">
                            <label for="email">
                                Amount</label>
                        </div>
                        <div class="editor-field">
                            <div id="amount-edit-wrapper">
                                <input type="text" maxlength="10" size="20" id="edit-amount" name="PaymentAmount" />
                            </div>
                            <div id="amount-view-wrapper">
                                <div id="view-amount"></div> 
                            </div>     
                         </div>
                    </div>
                    <div id="user-right-col"  style="float: left; margin-right: 10px; width: 50%;">
                        <div class="editor-label">
                            <label for="name">
                                Status</label>
                        </div>
                        <div class="editor-field">
                            <div id="paymentStatus">
                            </div>
                        </div>
                        <div class="editor-label">
                            <label for="email">
                                Recipient Uri</label>
                        </div>
                        <div class="editor-field">
                            <div id="recipientUri">
                            </div>
                        </div>
                        <div class="editor-label">
                            <label for="email">
                                Date Submitted</label>
                        </div>
                        <div class="editor-field">
                            <div id="paymentSubmitDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Comment</label>
                </div>
                <div class="editor-field">
                    <div id="comment"></div>
                </div>
            </fieldset>
        </div>
        <div id="transaction-wrapper" class="clearfix">
            <div id="senderTransactionWrapper" style="float: left; margin-right: 10px; width: 50%; vertical-align: top; top: 0px;">
            <fieldset>
                <legend>Sender Transaction</legend>
                <div class="editor-label">
                    <label for="email">
                        Sender Transaction Id</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionId"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Amount</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionAmount"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        From Account</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionFromAccount"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Create Date</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionCreateDate"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Last Updated Date</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionLastUpdatedDate"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Category</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionCategory"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Payment Channel</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionPaymentChannel"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Standard Entry Class</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionStandardEntryClass"></div>
                </div>
                <div id="senderBatchWrapper">
                    <div class="editor-label">
                        <label for="email">
                            Batch Id</label>
                    </div>
                    <div class="editor-field">
                        <div id="senderTransactionBatchId"></div>
                    </div>
                    <div class="editor-label">
                        <label for="email">
                            Batch Sent Date</label>
                    </div>
                    <div class="editor-field">
                        <div id="senderTransactionSentDate"></div>
                    </div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Transaction Status</label>
                </div>
                <div class="editor-field">
                    <div id="senderTransactionTransactionStatus"></div>
                </div>
            </fieldset>
        </div>
            <div id="recipientTransactionWrapper">
            <fieldset>
                <legend>Recipient Transaction</legend>
                <div class="editor-label">
                    <label for="email">
                        Recipient Transaction Id</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionId"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Amount</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionAmount"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        To Account</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionFromAccount"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Create Date</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionCreateDate"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Last Updated Date</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionLastUpdatedDate"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Category</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionCategory"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Payment Channel</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionPaymentChannel"></div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Standard Entry Class</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionStandardEntryClass"></div>
                </div>
                <div id="recipientBatchWrapper">
                    <div class="editor-label">
                        <label for="email">
                            Batch Id</label>
                    </div>
                    <div class="editor-field">
                        <div id="recipientTransactionBatchId"></div>
                    </div>
                    <div class="editor-label">
                        <label for="email">
                            Batch Sent Date</label>
                    </div>
                    <div class="editor-field">
                        <div id="recipientTransactionSentDate"></div>
                    </div>
                </div>
                <div class="editor-label">
                    <label for="email">
                        Transaction Status</label>
                </div>
                <div class="editor-field">
                    <div id="recipientTransactionTransactionStatus"></div>
                </div>
            </fieldset>
        </div>
        </div>
        <input id="saveChangesButton" type="submit" value="Save Changes" />

         </form>   
        
            
    </fieldset>
            <div id="action-bar" class="clearfix">
            <form action="@Url.Content("~/Payment/CancelPayment")" method="post">
                <input id="cancelPaymentId" name="paymentId" type="hidden" />
                <input id="cancelPaymentButton" type="submit" value="Cancel Payment" />
            </form>
            <form action="@Url.Content("~/Payment/RefundPayment")" method="post">
                <input id="refundPaymentId" name="paymentId" type="hidden" />
                <input id="refundPaymentButton" type="submit" value="Refund Payment" disabled="disabled" />
            </form>
        </div>  
</div>
