@model Mobile_PaidThx.Models.SignInModels.SignInModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "page-signin";
}
<div data-role="page" id="@ViewBag.PageID" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Sign In</h1>
    </div>
    <div data-role="content">
        <div class="pad">
            @Html.ValidationSummary()
            <h5>
                Sign in with Facebook:</h5>
            <button type="button" id="signin-facebook-submit" class="btn-jq" data-theme="d" onclick="location.href='https://www.facebook.com/dialog/oauth?client_id=332189543469634&redirect_uri=@Html.FormatCallbackUrl(Request.Url.Scheme + System.Uri.SchemeDelimiter + Request.Url.Host + Url.Content("~/"), "SignIn/SignInWithFacebook/&scope=email&state=", Model.FBState)'">
                Sign in with Facebook
            </button>
            <div style="margin-bottom:25px"></div>
            <h5>
                Or Sign in with Email or Phone #</h5>
            <div id="signin-form">
                @using (Html.BeginForm("Index", "SignIn", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "pop" }, { "class", "validateMe" } }))
                {       
                    <span class="form-holder"><input type="email" id="username" class="required" placeholder="Email Address or Phone #"
                        name="Email" /></span>

                    <span class="form-holder"><input type="password" id="password" class="required" placeholder="Password" name="Password" /></span>
                    <button type="submit" id="signin-submit" class="btn-jq" data-theme="f" data-icon="check" data-iconpos="right">
                      Sign In</button>

                }
            </div>
            <div id="main-body-sub-links" data-theme="c">
                <p style="text-align: center">
                    <a href="@Url.Content("~/Account/ForgotPassword")" data-theme="c" data-ajax="false">Forgot password?</a></p>
                <p style="text-align: center">
                    New? <a href="@Url.Content("~/Join")" data-theme="c" data-ajax="false">Join Now</a>,
                    It's Free!
                </p>
            </div>
        </div>
    </div>
     @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 1, HeaderText = "Sign In" }); }
     </div>
