@model Mobile_PaidThx.Models.SignInModels.SecurityQuestionChallengeModel
@{
    ViewBag.Title = "Security Question";
    ViewBag.PageID = "security-question-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"   >
    <div class="header-pdthx" >
	    <h1>Account Locked</h1>
    </div>
    <div class="pd-content">
    <div class="top-panel">
    <p>Your account has been locked.  Please provide the answer to the question below to unlock your account.</p></div>
    @Html.ValidationSummary()
    <div class="pad">
     
    
        @using (Html.BeginForm("SecurityQuestionChallenge", "SignIn", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "pop" }, { "class", "validateMe" } }))
        {
            @Html.HiddenFor(m => m.SecurityQuestion)
            <p>@Model.SecurityQuestion</p>
             @Html.TextBoxFor(m => m.SecurityQuestionAnswer, new Dictionary<string, object>() { { "placeholder", "Answer" }, { "class", "required" } })
           <button type="submit" class="btn-jq" data-theme="f" data-icon="check" data-iconpos="right">Submit</button>
        }
        </div>
    </div>
</div>