@model SocialPayments.Web.Admin.Models.OverviewModel
@{
    ViewBag.Title = "PdThx Dashboard";
}
<div>
    <h2>
        Current Batch Statistics <span style="font-size: 14px;">(Batch Opened: @Model.CurrentBatchStats.BatchCreated)</span></h2>
</div>
<div>
    <div class="row">
        <div style="float: left; padding: 6px; height: 100px; width: 120px; text-align: center;
            margin: 10px;" class="ui-widget ui-widget-content ui-corner-all">
            Total<br />
            Transactions
            <h3>@Model.CurrentBatchStats.TotalNumberOfPayments</h3>
        </div>
        <div style="float: left; padding: 6px; height: 100px; width: 120px; text-align: center;
            margin: 10px;" class="ui-widget ui-widget-content ui-corner-all">
            Total<br />
            Deposits
            <h3>@Model.CurrentBatchStats.TotalNumberOfDeposits</h3>
        </div>
        <div style="float: left; padding: 6px; height: 100px; width: 120px; text-align: center;
            margin: 10px;" class="ui-widget ui-widget-content ui-corner-all">
            Total<br />
            Withdrawals
            <h3>@Model.CurrentBatchStats.TotalNumberOfWithdrawals</h3>
        </div>
    </div>
    <div class="row" style="clear: both">
        <div style="float: left; padding: 6px; height: 100px; width: 195px; text-align: center;
            margin: 10px;" class="ui-widget ui-widget-content ui-corner-all">
            Total Deposit Amount
            <h3>@String.Format("{0:C}", Model.CurrentBatchStats.TotalDepositAmount)</h3>
        </div>
        <div style="float: left; padding: 6px; height: 100px; width: 195px; text-align: center;
            margin: 10px;" class="ui-widget ui-widget-content ui-corner-all">
            Total Withdrawal Amount
            <h3>@String.Format("{0:C}", Model.CurrentBatchStats.TotalWithdrawalAmount)</h3>
        </div>
    </div>
</div>
<div>
    <div style="clear: both">
        <h2>
            Recently Closed Batches</h2>
        @if (Model.ClosedBatches.Count > 0)
        {
            <table cellpadding="2" cellspacing="2">
                <thead>
                    <tr>
                        <th>
                            Batch Opened
                        </th>
                        <th>
                            Batch Closed
                        </th>
                        <th>
                            # of Deposits
                        </th>
                        <th>
                            Deposit Amount
                        </th>
                        <th>
                            # of Withdrawals
                        </th>
                        <th>
                            Withdrawal Amount
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.ClosedBatches)
                {
                    <tr>
                        <td>@item.BatchCreated
                        </td>
                        <td>@item.BatchClosed
                        </td>
                        <td>@item.TotalNumberOfDeposits
                        </td>
                        <td>@item.TotalDepositAmount
                        </td>
                        <td>@item.TotalNumberOfWithdrawals
                        </td>
                        <td>@item.TotalWithdrawalAmount
                        </td>
                    </tr>
                }
            </table>
        }
        <div class="empty">
            There are no recently closed batches.</div>
    </div>
</div>