@model Mobile_PaidThx.Models.ForgotPasswordModel
    @Html.ValidationSummary()
    
    @if (Model.PasswordSent)
    {
        <text>
            <h2>Check your Email</h2>
            <p>We just sent your password to the email address associated with your account.  Please check your email and proceed to our <a href="@Url.Content("~/Account/SignIn")" data-ajax="false">sign in</a>.</p>
        </text>
    }
    else
    {
        <text>
        <h2>Forgot Password</h2>
            <p>Enter your email address or mobile number below and we'll send you a link to reset your password.</p>
        </text>
    }
    <div id="registration-form">
        <form id="frmSignIn" action="@Url.Content("~/Account/ForgotPassword")" method="post" data-ajax="false">
            <input type="text" id="username" class="required" placeholder="Email Address or Phone #" name="UserName" />
            <button type="submit" id="btn-forgot-password" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Send Email</button>
       
    </form>
    </div>
    <div id="main-body-sub-links">
        <p style="text-align: center">
            <a href="@Url.Content("~/SignIn")" data-ajax="false">Return to Sign In</a></p>
        <p style="text-align: center">
            New to PaidThx? <a href="@Url.Content("~/Join")" data-ajax="false">Join Now</a>, It's Free!
        </p>
    </div>
