@model Mobile_PaidThx.Models.ForgotPasswordModel
<div id="header-wrapper" class="clearfix" style="position: relative; vertical-align: text-bottom">
    <div id="logo" style="float: left">
        <img src="@Url.Content("~/Content/images/paidthx-alpha-transparent.png")" alt="PaidThx Logo" width="140" /></div>
    <div id="page-title" style="position: absolute; bottom: 4px; right: 0;">
        Forgot Email
    </div>
</div>
<div id="main-body" class="panel">
    @Html.ValidationSummary()
    
    @if (Model.PasswordSent)
    {
        <text>
            <h2>Check your Email</h2>
            <p>We just sent your password to the email address associated with your account.  Please check your email and proceed to our <a href="@Url.Content("~/Account/SignIn")" data-ajax="false">sign in</a>.</p>
        </text>
    }
    else
    {
        <text>
        <h2>Forgot Email</h2>
            <p>Enter your email address or mobile number below and we'll email you your password.</p>
        </text>
    }
    <div id="registration-form">
        <form id="frmSignIn" action="@Url.Content("~/Account/ForgotPassword")" method="post" data-ajax="false">
            <input type="text" id="username" class="required" placeholder="Email Address or Phone #" name="UserName" />
        <button type="submit" id="btn-forgot-password-submit" class="imgbtn"><img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>Send Password</span></button>
    </form>
    </div>
    <div id="main-body-sub-links">
        <p style="text-align: center">
            <a href="@Url.Content("~/Account/SignIn")" data-ajax="false">Return to Sign In</a></p>
        <p style="text-align: center">
            New to PaidThx? <a href="@Url.Content("~/Register/Index")" data-ajax="false">Sign Up Now</a>, It's Free!
        </p>
    </div>
</div>