@model Mobile_PaidThx.Models.ResetPasswordModelInput

@{
    ViewBag.Title = "Reset Your Password";
}
<div id="header-wrapper" class="clearfix" style="position: relative; vertical-align: text-bottom">
    <div id="logo" style="float: left">
        <img src="@Url.Content("~/Content/images/paidthx-alpha-transparent.png")" alt="PaidThx Logo" width="140" /></div>
    <div id="page-title" style="position: absolute; bottom: 4px; right: 0;">
        Reset Password
    </div>
</div>
<div id="main-body" class="panel">

<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

    <p>
        @if (Model.HasSecurityQuestion)
        {
            @Model.SecurityQuestion
            <br /><br /><br />
            <input type="text" id="txtAnswer" name="SecurityQuestionAnswer" placeholder="Answer" required />
        }
    </p>

    <p>
        <input type="password" id="txtNewPassword" name="NewPassword" placeHolder="Password" required />
    </p>

    <p>
        <input type="password" id="txtConfirmPassword" name="ConfirmPassword" placeHolder="Confirm Password" required />
    </p>

    <p>
         <button type="submit" id="reset-password-submit" class="imgbtn">
            <img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>Reset Password</span></button>
    </p>
}
</div>